backend/src/DCM-LocalCatalogue.json
[
    {
        "id": "ee01000000000000",
        "type": "tab",
        "label": "DCM-LocalCatalogue",
        "disabled": false,
        "info": "Backend flow for Local Catalogue.\n\nMongoDB collection:\n  lc_assets – normalized local catalogue asset records\n             populated by Harvest, managed here.\n\nOperations:\n  getLocalCatalogue  – list all lc_assets\n  deleteLocalAsset   – delete by uniqueId\n  updateLocalAsset   – update fields by uniqueId\n\nAll responses are sent back to the Dashboard via link-out → dashboard-linkin (1320340df737c22e).",
        "env": []
    },

    {
        "id": "ee01000000000001",
        "type": "comment",
        "z": "ee01000000000000",
        "name": "══ Local Catalogue Backend ══",
        "info": "Handles Local Catalogue operations.\nlc_assets are written during Harvest and managed here.",
        "x": 240,
        "y": 40,
        "wires": []
    },

    {
        "id": "ee01000000000010",
        "type": "link in",
        "z": "ee01000000000000",
        "name": "localcatalogue-in",
        "links": ["ee01000000000099"],
        "x": 95,
        "y": 200,
        "wires": [["ee01000000000011"]]
    },

    {
        "id": "ee01000000000011",
        "type": "switch",
        "z": "ee01000000000000",
        "name": "route by msg.type",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "getLocalCatalogue", "vt": "str" },
            { "t": "eq", "v": "deleteLocalAsset", "vt": "str" },
            { "t": "eq", "v": "updateLocalAsset", "vt": "str" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 310,
        "y": 200,
        "wires": [
            ["ee01000000000020"],
            ["ee01000000000030"],
            ["ee01000000000040"]
        ]
    },

    {
        "id": "ee01000000000020",
        "type": "function",
        "z": "ee01000000000000",
        "name": "Get Local Catalogue — query lc_assets",
        "func": "msg.operation = 'find';\nmsg.collection = 'lc_assets';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 120,
        "wires": [["ee01000000000021"]]
    },
    {
        "id": "ee01000000000021",
        "type": "mongodb4",
        "z": "ee01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "find lc_assets",
        "x": 960,
        "y": 120,
        "wires": [["ee01000000000022"]]
    },
    {
        "id": "ee01000000000022",
        "type": "function",
        "z": "ee01000000000000",
        "name": "response — getLocalCatalogue",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\n\n// Build table-ready asset list\nconst assets = docs.map(d => ({\n    id: d.uniqueId,\n    assets: d.title || '-',\n    type: d.type || 'Dataset',\n    name: d.catalogue || '-',\n    domain: d.domain || d.catalogue || '-',\n    updated: (d.harvestedAt || d.createdAt || '-').replace('T', ' ').slice(0, 19),\n    integrationStatus: d.status || 'Active',\n    harvestRunId: d.harvestRunId || '',\n    sourceAssetId: d.sourceAssetId || '',\n    strategy: d.strategy || '',\n    catalogueId: d.catalogueId || '',\n    harvestScope: d.harvestScope || {},\n    uniqueId: d.uniqueId\n}));\n\nassets.sort((a, b) => (b.updated || '').localeCompare(a.updated || ''));\n\n// Compute stats\nconst runIds = new Set();\nfor (const d of docs) { if (d.harvestRunId) runIds.add(d.harvestRunId); }\n\nmsg.response = {\n    action: 'getLocalCatalogue',\n    status: 'success',\n    assets: assets,\n    totalAssets: assets.length,\n    totalRuns: runIds.size\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 120,
        "wires": [["ee010000000000f0"]]
    },

    {
        "id": "ee01000000000030",
        "type": "function",
        "z": "ee01000000000000",
        "name": "Delete Local Asset — by uniqueId",
        "func": "const uid = msg.data?.uniqueId;\nif (!uid) {\n    msg.response = {\n        action: 'deleteLocalAsset',\n        status: 'error',\n        message: 'Missing uniqueId'\n    };\n    delete msg.payload;\n    return [null, msg];\n}\nmsg.operation = 'deleteOne';\nmsg.collection = 'lc_assets';\nmsg.payload = { uniqueId: uid };\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 220,
        "wires": [["ee01000000000031"], ["ee010000000000f0"]]
    },
    {
        "id": "ee01000000000031",
        "type": "mongodb4",
        "z": "ee01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "delete from lc_assets",
        "x": 980,
        "y": 200,
        "wires": [["ee01000000000032"]]
    },
    {
        "id": "ee01000000000032",
        "type": "function",
        "z": "ee01000000000000",
        "name": "response — deleteLocalAsset",
        "func": "msg.response = {\n    action: 'deleteLocalAsset',\n    status: 'success'\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 200,
        "wires": [["ee010000000000f0"]]
    },

    {
        "id": "ee01000000000040",
        "type": "function",
        "z": "ee01000000000000",
        "name": "Update Local Asset — by uniqueId",
        "func": "const uid = msg.data?.uniqueId;\nconst patch = msg.data?.patch || {};\nif (!uid) {\n    msg.response = {\n        action: 'updateLocalAsset',\n        status: 'error',\n        message: 'Missing uniqueId'\n    };\n    delete msg.payload;\n    return [null, msg];\n}\npatch.updatedAt = new Date().toISOString();\nmsg.operation = 'updateOne';\nmsg.collection = 'lc_assets';\nmsg.payload = [\n    { uniqueId: uid },\n    { $set: patch }\n];\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [["ee01000000000041"], ["ee010000000000f0"]]
    },
    {
        "id": "ee01000000000041",
        "type": "mongodb4",
        "z": "ee01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "update lc_assets",
        "x": 980,
        "y": 300,
        "wires": [["ee01000000000042"]]
    },
    {
        "id": "ee01000000000042",
        "type": "function",
        "z": "ee01000000000000",
        "name": "response — updateLocalAsset",
        "func": "msg.response = {\n    action: 'updateLocalAsset',\n    status: 'success'\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 300,
        "wires": [["ee010000000000f0"]]
    },

    {
        "id": "ee010000000000f0",
        "type": "link out",
        "z": "ee01000000000000",
        "name": "→ Dashboard uibuilder",
        "mode": "link",
        "links": ["1320340df737c22e"],
        "x": 1475,
        "y": 200,
        "wires": []
    }
]
