backend/src/DCM-CatalogueRegistry.json
[
    {
        "id": "cc01000000000000",
        "type": "tab",
        "label": "DCM-CatalogueRegistry",
        "disabled": false,
        "info": "Backend flows for Catalogue Registry.\n\nMongoDB collection: cr_catalogues\n\nOperations:\n  - registerRemoteCatalog (insertOne)\n  - getCatalogRegistry (find all)\n  - updateRemoteCatalog (updateOne with patch)\n  - deleteRemoteCatalog (deleteOne)\n  - uploadCatalogJson (bulk insertMany)\n\nAll responses are sent back to the Dashboard via link-out → dashboard-linkin (1320340df737c22e).",
        "env": []
    },

    {
        "id": "cc01000000000001",
        "type": "comment",
        "z": "cc01000000000000",
        "name": "══ Catalogue Registry Backend ══",
        "info": "Handles all Catalogue Registry operations.\nResponses go back to Dashboard uibuilder via link-out → dashboard-linkin.",
        "x": 240,
        "y": 40,
        "wires": []
    },

    {
        "id": "cc01000000000010",
        "type": "link in",
        "z": "cc01000000000000",
        "name": "catalogue-registry-in",
        "links": ["cc01000000000099"],
        "x": 115,
        "y": 200,
        "wires": [["cc01000000000011"]]
    },

    {
        "id": "cc01000000000011",
        "type": "switch",
        "z": "cc01000000000000",
        "name": "route by msg.type",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "registerRemoteCatalog", "vt": "str" },
            { "t": "eq", "v": "getCatalogRegistry", "vt": "str" },
            { "t": "eq", "v": "updateRemoteCatalog", "vt": "str" },
            { "t": "eq", "v": "deleteRemoteCatalog", "vt": "str" },
            { "t": "eq", "v": "uploadCatalogJson", "vt": "str" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 330,
        "y": 200,
        "wires": [
            ["cc01000000000020"],
            ["cc01000000000030"],
            ["cc01000000000040"],
            ["cc01000000000050"],
            ["cc01000000000060"]
        ]
    },

    {
        "id": "cc01000000000020",
        "type": "function",
        "z": "cc01000000000000",
        "name": "Register Remote Catalog",
        "func": "const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nlet randomPart = '';\nfor (let i = 0; i < 12; i++) {\n  randomPart += chars[Math.floor(Math.random() * chars.length)];\n}\nconst id = Date.now().toString(36) + randomPart;\n\nmsg.uniqueId = id;\nmsg.operation = \"insertOne\";\nmsg.collection = \"cr_catalogues\";\nmsg.payload = {\n    catalog: msg.data,\n    uniqueId: id\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 100,
        "wires": [["cc01000000000021"]]
    },
    {
        "id": "cc01000000000021",
        "type": "mongodb4",
        "z": "cc01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 880,
        "y": 100,
        "wires": [["cc01000000000022"]]
    },
    {
        "id": "cc01000000000022",
        "type": "function",
        "z": "cc01000000000000",
        "name": "response",
        "func": "msg.response = {\n    action: \"registerRemoteCatalog\",\n    status: \"success\",\n    uniqueId: msg.uniqueId\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 100,
        "wires": [["cc010000000000f0"]]
    },

    {
        "id": "cc01000000000030",
        "type": "function",
        "z": "cc01000000000000",
        "name": "Get Catalog Registry",
        "func": "msg.operation = \"find\";\nmsg.collection = \"cr_catalogues\";\nmsg.payload = [\n    {},\n    { projection: { catalog: 1, uniqueId: 1, _id: 0 } }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [["cc01000000000031"]]
    },
    {
        "id": "cc01000000000031",
        "type": "mongodb4",
        "z": "cc01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 880,
        "y": 200,
        "wires": [["cc01000000000032"]]
    },
    {
        "id": "cc01000000000032",
        "type": "function",
        "z": "cc01000000000000",
        "name": "response",
        "func": "msg.response = {\n    action: \"getCatalogRegistry\",\n    status: \"success\",\n    catalogs: msg.payload\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 200,
        "wires": [["cc010000000000f0"]]
    },

    {
        "id": "cc01000000000040",
        "type": "function",
        "z": "cc01000000000000",
        "name": "Update Remote Catalog",
        "func": "const patch = msg.data.patch;\nconst update = Object.fromEntries(\n  Object.entries(patch).map(([key, value]) => [\n    `catalog.${key}`,\n    value\n  ])\n);\n\nmsg.operation = \"updateOne\";\nmsg.collection = \"cr_catalogues\";\nmsg.payload = [\n  { uniqueId: msg.data.uniqueId },\n  { $set: update }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [["cc01000000000041"]]
    },
    {
        "id": "cc01000000000041",
        "type": "mongodb4",
        "z": "cc01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 880,
        "y": 300,
        "wires": [["cc01000000000042"]]
    },
    {
        "id": "cc01000000000042",
        "type": "function",
        "z": "cc01000000000000",
        "name": "response",
        "func": "msg.response = {\n    action: \"updateRemoteCatalog\",\n    status: \"success\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 300,
        "wires": [["cc010000000000f0"]]
    },

    {
        "id": "cc01000000000050",
        "type": "function",
        "z": "cc01000000000000",
        "name": "Delete Remote Catalog",
        "func": "msg.operation = \"deleteOne\";\nmsg.collection = \"cr_catalogues\";\nmsg.payload = { uniqueId: msg.data.uniqueId };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 400,
        "wires": [["cc01000000000051"]]
    },
    {
        "id": "cc01000000000051",
        "type": "mongodb4",
        "z": "cc01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 880,
        "y": 400,
        "wires": [["cc01000000000052"]]
    },
    {
        "id": "cc01000000000052",
        "type": "function",
        "z": "cc01000000000000",
        "name": "response",
        "func": "msg.response = {\n    action: \"deleteRemoteCatalog\",\n    status: \"success\",\n    uniqueId: msg.data.uniqueId\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 400,
        "wires": [["cc010000000000f0"]]
    },

    {
        "id": "cc01000000000060",
        "type": "function",
        "z": "cc01000000000000",
        "name": "Upload Catalog JSON (bulk insert)",
        "func": "// Expects msg.data.catalogs = array of catalog objects\nconst catalogs = msg.data.catalogs || [];\nconst chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\n\nconst docs = catalogs.map(c => {\n    let randomPart = '';\n    for (let i = 0; i < 12; i++) {\n        randomPart += chars[Math.floor(Math.random() * chars.length)];\n    }\n    const id = Date.now().toString(36) + randomPart;\n    return { catalog: c, uniqueId: id };\n});\n\nif (docs.length === 0) {\n    msg.response = {\n        action: \"uploadCatalogJson\",\n        status: \"error\",\n        message: \"No catalogue entries found in JSON file.\"\n    };\n    return [null, msg];\n}\n\nmsg._uploadedDocs = docs;\nmsg.operation = \"insertMany\";\nmsg.collection = \"cr_catalogues\";\nmsg.payload = docs;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 500,
        "wires": [["cc01000000000061"], ["cc010000000000f0"]]
    },
    {
        "id": "cc01000000000061",
        "type": "mongodb4",
        "z": "cc01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 880,
        "y": 500,
        "wires": [["cc01000000000062"]]
    },
    {
        "id": "cc01000000000062",
        "type": "function",
        "z": "cc01000000000000",
        "name": "response",
        "func": "msg.response = {\n    action: \"uploadCatalogJson\",\n    status: \"success\",\n    catalogs: msg._uploadedDocs || []\n};\ndelete msg._uploadedDocs;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 500,
        "wires": [["cc010000000000f0"]]
    },

    {
        "id": "cc010000000000f0",
        "type": "link out",
        "z": "cc01000000000000",
        "name": "→ Dashboard uibuilder",
        "mode": "link",
        "links": ["1320340df737c22e"],
        "x": 1315,
        "y": 300,
        "wires": []
    }
]
