backend/src/DCM-Harvest.json
[
    {
        "id": "dd01000000000000",
        "type": "tab",
        "label": "DCM-Harvest",
        "disabled": false,
        "info": "Backend flows for Harvest Catalogue feature.\n\nMongoDB collections:\n  h_harvest_runs  – harvest run records (config, status, results, embedded logs + provenance)\n  lc_assets       – local catalogue assets (written during harvest, owned by DCM-LocalCatalogue)\n  cr_catalogues   – read-only (source catalogue data)\n\nAll responses are sent back to the Dashboard via link-out → dashboard-linkin (1320340df737c22e).",
        "env": []
    },

    {
        "id": "dd01000000000001",
        "type": "comment",
        "z": "dd01000000000000",
        "name": "══ Harvest Catalogue Backend ══",
        "info": "Handles all Harvest operations.",
        "x": 240,
        "y": 40,
        "wires": []
    },

    {
        "id": "dd01000000000010",
        "type": "link in",
        "z": "dd01000000000000",
        "name": "harvest-in",
        "links": ["dd01000000000099"],
        "x": 95,
        "y": 300,
        "wires": [["dd01000000000011"]]
    },

    {
        "id": "dd01000000000011",
        "type": "switch",
        "z": "dd01000000000000",
        "name": "route by msg.type",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "getHarvestCatalogues", "vt": "str" },
            { "t": "eq", "v": "startHarvest", "vt": "str" },
            { "t": "eq", "v": "listHarvestRuns", "vt": "str" },
            { "t": "eq", "v": "getHarvestRunDetail", "vt": "str" },
            { "t": "eq", "v": "listHarvestLogs", "vt": "str" },
            { "t": "eq", "v": "listHarvestProvenance", "vt": "str" },
            { "t": "eq", "v": "pauseHarvest", "vt": "str" },
            { "t": "eq", "v": "resumeHarvest", "vt": "str" },
            { "t": "eq", "v": "cancelHarvest", "vt": "str" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 310,
        "y": 300,
        "wires": [
            ["dd01000000000020"],
            ["dd01000000000030"],
            ["dd01000000000040"],
            ["dd01000000000050"],
            ["dd01000000000060"],
            ["dd01000000000070"],
            ["dd01000000000080"],
            ["dd01000000000081"],
            ["dd01000000000082"]
        ]
    },

    {
        "id": "dd01000000000020",
        "type": "function",
        "z": "dd01000000000000",
        "name": "Get Harvest Catalogues",
        "func": "msg.operation = 'find';\nmsg.collection = 'cr_catalogues';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 100,
        "wires": [["dd01000000000021"]]
    },
    {
        "id": "dd01000000000021",
        "type": "mongodb4",
        "z": "dd01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 920,
        "y": 100,
        "wires": [["dd01000000000022"]]
    },
    {
        "id": "dd01000000000022",
        "type": "function",
        "z": "dd01000000000000",
        "name": "response — flatten catalog data",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst catalogs = docs.map(d => ({\n    uniqueId: d.uniqueId,\n    catalogId: d.catalog?.catalogId || d.uniqueId,\n    catalogName: d.catalog?.catalogName || d.catalog?.catalogId || '-',\n    owner: d.catalog?.owner || '-',\n    strategy: d.catalog?.strategy || 'none',\n    baseEndpoint: d.catalog?.baseEndpoint || '',\n    enabled: d.catalog?.enabled !== false,\n    protocol: d.catalog?.protocol || 'Query interface',\n    updatedAt: d.catalog?.updatedAt || '',\n}));\nmsg.response = {\n    action: 'getHarvestCatalogues',\n    status: 'success',\n    catalogs\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 100,
        "wires": [["dd010000000000f0"]]
    },

    {
        "id": "dd01000000000030",
        "type": "function",
        "z": "dd01000000000000",
        "name": "Start Harvest — build run + lc_assets",
        "func": "const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nlet rnd = '';\nfor (let i = 0; i < 12; i++) rnd += chars[Math.floor(Math.random() * chars.length)];\nconst runId = 'run-' + Date.now().toString(36) + rnd;\n\nconst catalogues = msg.data?.catalogues || [];\nconst catNames = catalogues.map(c => c.catalogName).filter(Boolean);\nconst now = new Date();\nconst nowISO = now.toISOString();\nconst nowShort = nowISO.replace('T', ' ').slice(0, 19);\n\nconst provenance = [];\nconst logs = [];\nconst assetDetails = [];\nconst lcDocs = [];\nlet assetCounter = 0;\n\nfor (const cat of catalogues) {\n    const strategy = cat.strategy || 'none';\n    const catName = cat.catalogName || cat.uniqueId || 'Unknown';\n    const assetCount = Math.floor(Math.random() * 15) + 5;\n    for (let i = 0; i < assetCount; i++) {\n        assetCounter++;\n        const assetId = 'asset-' + runId + '-' + assetCounter;\n        const lcId = 'lc-' + runId + '-' + assetCounter;\n        const isError = Math.random() < 0.1;\n        const isWarning = !isError && Math.random() < 0.1;\n        const assetStatus = isError ? 'error' : 'success';\n        const assetTitle = catName + ' Asset ' + assetCounter;\n\n        assetDetails.push({\n            assetId: assetId,\n            title: assetTitle,\n            catalogue: catName,\n            status: assetStatus,\n            strategy: strategy\n        });\n\n        // Build local catalogue asset document\n        lcDocs.push({\n            uniqueId: lcId,\n            sourceAssetId: assetId,\n            title: assetTitle,\n            catalogue: catName,\n            catalogueId: cat.uniqueId || '',\n            type: 'Dataset',\n            domain: catName,\n            strategy: strategy,\n            status: assetStatus === 'error' ? 'Error' : 'Active',\n            harvestRunId: runId,\n            harvestScope: msg.data?.scope || {},\n            harvestedAt: nowISO,\n            createdAt: nowISO,\n            updatedAt: nowISO\n        });\n\n        if (!isError) {\n            provenance.push({\n                runId: runId,\n                assetId: assetId,\n                title: assetTitle,\n                catalogue: catName,\n                action: 'imported',\n                strategy: strategy,\n                timestamp: nowISO,\n                status: 'success'\n            });\n        }\n\n        if (isError) {\n            logs.push({\n                runId: runId,\n                assetId: assetId,\n                level: 'error',\n                message: 'Failed to import asset: ' + assetTitle,\n                catalogue: catName,\n                timestamp: nowISO\n            });\n        } else if (isWarning) {\n            logs.push({\n                runId: runId,\n                assetId: assetId,\n                level: 'warning',\n                message: 'Asset imported with warnings: ' + assetTitle,\n                catalogue: catName,\n                timestamp: nowISO\n            });\n        } else {\n            logs.push({\n                runId: runId,\n                assetId: assetId,\n                level: 'info',\n                message: 'Successfully imported: ' + assetTitle,\n                catalogue: catName,\n                timestamp: nowISO\n            });\n        }\n    }\n}\n\nconst successCount = assetDetails.filter(a => a.status === 'success').length;\nconst errorCount = assetDetails.filter(a => a.status === 'error').length;\n\nconst run = {\n    uniqueId: runId,\n    catalogues: catalogues,\n    catalogueName: catNames.join(', ') || 'Harvest',\n    scope: msg.data?.scope || {},\n    lifecycle: msg.data?.lifecycle || {},\n    status: 'completed',\n    startedAt: nowShort,\n    completedAt: new Date(now.getTime() + 120000).toISOString().replace('T', ' ').slice(0, 19),\n    duration: '2m 0s',\n    totalAssets: assetCounter,\n    assetsAdded: successCount,\n    successCount: successCount,\n    errorCount: errorCount,\n    result: errorCount === 0 ? 'Success' : 'Partial',\n    tool: 'Harvester',\n    assets: assetDetails,\n    provenance: provenance,\n    logs: logs\n};\n\n// Output 1: insert harvest run (carries _harvestRun for the response)\nconst msg1 = {\n    _harvestRun: run,\n    operation: 'insertOne',\n    collection: 'h_harvest_runs',\n    payload: run,\n    _msgid: msg._msgid,\n    _uib: msg._uib,\n    _socketId: msg._socketId\n};\n\n// Output 2: insert local catalogue assets (fresh msg, independent path)\nif (lcDocs.length > 0) {\n    const msg2 = {\n        operation: 'insertMany',\n        collection: 'lc_assets',\n        payload: lcDocs\n    };\n    return [msg1, msg2];\n}\nreturn [msg1, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 200,
        "wires": [["dd01000000000031"], ["dd01000000000037"]]
    },
    {
        "id": "dd01000000000031",
        "type": "mongodb4",
        "z": "dd01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "insert run",
        "x": 960,
        "y": 180,
        "wires": [["dd01000000000036"]]
    },
    {
        "id": "dd01000000000036",
        "type": "function",
        "z": "dd01000000000000",
        "name": "response — startHarvest",
        "func": "const run = msg._harvestRun || {};\ndelete msg._harvestRun;\n\nmsg.response = {\n    action: 'startHarvest',\n    status: 'success',\n    run: run\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 180,
        "wires": [["dd010000000000f0"]]
    },
    {
        "id": "dd01000000000037",
        "type": "mongodb4",
        "z": "dd01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "insert lc_assets",
        "x": 960,
        "y": 240,
        "wires": [[]]
    },

    {
        "id": "dd01000000000040",
        "type": "function",
        "z": "dd01000000000000",
        "name": "List Harvest Runs",
        "func": "msg.operation = 'find';\nmsg.collection = 'h_harvest_runs';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [["dd01000000000041"]]
    },
    {
        "id": "dd01000000000041",
        "type": "mongodb4",
        "z": "dd01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 920,
        "y": 320,
        "wires": [["dd01000000000042"]]
    },
    {
        "id": "dd01000000000042",
        "type": "function",
        "z": "dd01000000000000",
        "name": "response — strip embedded arrays for list",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst runs = docs.map(d => {\n    const r = Object.assign({}, d);\n    delete r.provenance;\n    delete r.logs;\n    delete r.assets;\n    return r;\n});\nruns.sort((a, b) => (b.startedAt || '').localeCompare(a.startedAt || ''));\nmsg.response = {\n    action: 'listHarvestRuns',\n    status: 'success',\n    runs: runs\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 320,
        "wires": [["dd010000000000f0"]]
    },

    {
        "id": "dd01000000000050",
        "type": "function",
        "z": "dd01000000000000",
        "name": "Get Harvest Run Detail",
        "func": "msg.operation = 'findOne';\nmsg.collection = 'h_harvest_runs';\nmsg.payload = { uniqueId: msg.data.runId };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 420,
        "wires": [["dd01000000000051"]]
    },
    {
        "id": "dd01000000000051",
        "type": "mongodb4",
        "z": "dd01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 920,
        "y": 420,
        "wires": [["dd01000000000052"]]
    },
    {
        "id": "dd01000000000052",
        "type": "function",
        "z": "dd01000000000000",
        "name": "response",
        "func": "const run = msg.payload || null;\nmsg.response = {\n    action: 'getHarvestRunDetail',\n    status: 'success',\n    run: run\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 420,
        "wires": [["dd010000000000f0"]]
    },

    {
        "id": "dd01000000000060",
        "type": "function",
        "z": "dd01000000000000",
        "name": "List Harvest Logs",
        "func": "msg.operation = 'find';\nmsg.collection = 'h_harvest_runs';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 500,
        "wires": [["dd01000000000061"]]
    },
    {
        "id": "dd01000000000061",
        "type": "mongodb4",
        "z": "dd01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 920,
        "y": 500,
        "wires": [["dd01000000000062"]]
    },
    {
        "id": "dd01000000000062",
        "type": "function",
        "z": "dd01000000000000",
        "name": "response — extract logs from runs",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst logs = [];\nfor (const d of docs) {\n    if (Array.isArray(d.logs)) {\n        for (const l of d.logs) logs.push(l);\n    }\n}\nmsg.response = {\n    action: 'listHarvestLogs',\n    status: 'success',\n    logs: logs\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 500,
        "wires": [["dd010000000000f0"]]
    },

    {
        "id": "dd01000000000070",
        "type": "function",
        "z": "dd01000000000000",
        "name": "List Harvest Provenance",
        "func": "msg.operation = 'find';\nmsg.collection = 'h_harvest_runs';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 580,
        "wires": [["dd01000000000071"]]
    },
    {
        "id": "dd01000000000071",
        "type": "mongodb4",
        "z": "dd01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 920,
        "y": 580,
        "wires": [["dd01000000000072"]]
    },
    {
        "id": "dd01000000000072",
        "type": "function",
        "z": "dd01000000000000",
        "name": "response — extract provenance from runs",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst provenance = [];\nfor (const d of docs) {\n    if (Array.isArray(d.provenance)) {\n        for (const p of d.provenance) provenance.push(p);\n    }\n}\nmsg.response = {\n    action: 'listHarvestProvenance',\n    status: 'success',\n    provenance: provenance\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 580,
        "wires": [["dd010000000000f0"]]
    },

    {
        "id": "dd01000000000080",
        "type": "function",
        "z": "dd01000000000000",
        "name": "Pause Harvest",
        "func": "msg.operation = 'updateOne';\nmsg.collection = 'h_harvest_runs';\nmsg.payload = [\n    { uniqueId: msg.data.runId },\n    { $set: { status: 'paused' } }\n];\nmsg._action = 'pauseHarvest';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 660,
        "wires": [["dd01000000000083"]]
    },
    {
        "id": "dd01000000000081",
        "type": "function",
        "z": "dd01000000000000",
        "name": "Resume Harvest",
        "func": "msg.operation = 'updateOne';\nmsg.collection = 'h_harvest_runs';\nmsg.payload = [\n    { uniqueId: msg.data.runId },\n    { $set: { status: 'running' } }\n];\nmsg._action = 'resumeHarvest';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 720,
        "wires": [["dd01000000000083"]]
    },
    {
        "id": "dd01000000000082",
        "type": "function",
        "z": "dd01000000000000",
        "name": "Cancel Harvest",
        "func": "msg.operation = 'updateOne';\nmsg.collection = 'h_harvest_runs';\nmsg.payload = [\n    { uniqueId: msg.data.runId },\n    { $set: { status: 'cancelled' } }\n];\nmsg._action = 'cancelHarvest';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 780,
        "wires": [["dd01000000000083"]]
    },
    {
        "id": "dd01000000000083",
        "type": "mongodb4",
        "z": "dd01000000000000",
        "clientNode": "ad5bea80de70463c",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "update status",
        "x": 920,
        "y": 720,
        "wires": [["dd01000000000084"]]
    },
    {
        "id": "dd01000000000084",
        "type": "function",
        "z": "dd01000000000000",
        "name": "response",
        "func": "msg.response = {\n    action: msg._action || 'harvestStatusUpdate',\n    status: 'success'\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 720,
        "wires": [["dd010000000000f0"]]
    },

    {
        "id": "dd010000000000f0",
        "type": "link out",
        "z": "dd01000000000000",
        "name": "→ Dashboard uibuilder",
        "mode": "link",
        "links": ["1320340df737c22e"],
        "x": 1395,
        "y": 400,
        "wires": []
    }
]
