backend/src/M1_DCM-SchemaRegistry_flow.json
[
  {
    "id": "aa01000000000000",
    "type": "tab",
    "label": "M1_DCM-SchemaRegistry",
    "disabled": false,
    "info": "Backend flows for Schema Registry Management.\n\n════════════════════════════════════════════════\n  HOW TO SET YOUR OPENAI API KEY\n════════════════════════════════════════════════\n\n1. Double-click this flow tab name (DCM-SchemaRegistry)\n2. In the Edit Flow panel, click the 'Environment Variables' section\n3. Find the variable named: OPENAI_API_KEY\n4. Replace PUT_OPENAI_API_KEY_HERE with your real OpenAI API key\n   (e.g. sk-proj-abc123...)\n5. Click Done, then Deploy\n\nAll OpenAI request nodes in this flow use this single key.\nDo NOT paste the key anywhere else.\n\n════════════════════════════════════════════════\n\nOpenAI calls use real http request nodes — not simulated.\n\nMongoDB collections used:\n  sr_prompts        – prompt records\n  sr_test_cases     – saved test cases\n  sr_llm_configs    – LLM configuration records\n  sr_providers      – multi-model provider records\n  sr_local_schemas  – local schema definitions\n  sr_mappings       – schema mapping configurations\n\nAll responses are sent back to the Dashboard via link-out → dashboard-linkin.",
    "env": [
      {
        "name": "OPENAI_API_KEY",
        "value": "PUT_OPENAI_API_KEY_HERE",
        "type": "str"
      },
      {
        "name": "OPENAI_MODEL",
        "value": "gpt-4o",
        "type": "str"
      }
    ]
  },
  {
    "id": "b991ffcd8f6c360a",
    "type": "mongodb4-client",
    "name": "",
    "protocol": "mongodb+srv",
    "hostname": "db-mongodb-facis-f9f0367b.mongo.ondigitalocean.com",
    "port": "",
    "dbName": "PartnerOnboarding",
    "appName": "",
    "authSource": "",
    "authMechanism": "DEFAULT",
    "tls": true,
    "tlsCAFile": "",
    "tlsCertificateKeyFile": "",
    "tlsInsecure": false,
    "connectTimeoutMS": "30000",
    "socketTimeoutMS": "0",
    "minPoolSize": "0",
    "maxPoolSize": "100",
    "maxIdleTimeMS": "0",
    "uri": "",
    "advanced": "{}",
    "uriTabActive": "tab-uri-simple"
  },
  {
    "id": "aa01000000000005",
    "type": "switch",
    "z": "aa01000000000000",
    "name": "Route by msg.type",
    "property": "type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "enhancePrompt",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "createPrompt",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "listPrompts",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "updatePromptCode",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "deletePrompt",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "dryRunPrompt",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "saveTestCase",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "listTestCases",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "deleteTestCase",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "updatePrompt",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "updatePromptStatus",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "saveLlmConfig",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "deleteLlmConfig",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "saveProvider",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "deleteProvider",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "reorderProvider",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "startBatchRetransform",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "cancelBatchRetransform",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "listLlmConfigs",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "listProviders",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "saveLocalSchema",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "listLocalSchemas",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "deleteLocalSchema",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "saveMapping",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "listMappings",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "deleteMapping",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 26,
    "x": 182.5,
    "y": 740,
    "wires": [
      [
        "bb01000000000010"
      ],
      [
        "bb01000000000020"
      ],
      [
        "bb01000000000060"
      ],
      [
        "bb01000000000070"
      ],
      [
        "bb01000000000080"
      ],
      [
        "bb01000000000090"
      ],
      [
        "bb010000000000a0"
      ],
      [
        "bb010000000000b0"
      ],
      [
        "bb010000000000c0"
      ],
      [
        "bb010000000000d3"
      ],
      [
        "bb010000000000e3"
      ],
      [
        "cc01000000000010"
      ],
      [
        "cc01000000000020"
      ],
      [
        "cc01000000000030"
      ],
      [
        "cc01000000000040"
      ],
      [
        "cc01000000000050"
      ],
      [
        "cc01000000000060"
      ],
      [
        "cc01000000000070"
      ],
      [
        "dd01000000000010"
      ],
      [
        "dd01000000000020"
      ],
      [
        "ee01000000000010"
      ],
      [
        "ee01000000000020"
      ],
      [
        "ee01000000000030"
      ],
      [
        "ee01000000000040"
      ],
      [
        "ee01000000000050"
      ],
      [
        "ee01000000000060"
      ]
    ]
  },
  {
    "id": "bb010000000000f0",
    "type": "link out",
    "z": "aa01000000000000",
    "name": "→ Dashboard (uibuilder response)",
    "mode": "link",
    "links": [
      "c48570326bcd6b3d"
    ],
    "x": 1645,
    "y": 260,
    "wires": []
  },
  {
    "id": "bb01000000000099",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 1. ENHANCE PROMPT (real OpenAI POST) ──────────────────",
    "info": "",
    "x": 805,
    "y": 580,
    "wires": []
  },
  {
    "id": "bb01000000000010",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Build Enhance Request Payload",
    "func": "const d = msg.data || {};\nconst apiKey = flow.get(\"openai_api_key\") || \"\";\nconst model  = flow.get(\"openai_model\")  || \"gpt-4o\";\n\nif (!apiKey) {\n    msg.response = { action:\"enhancePrompt\", status:\"error\", message:\"No OpenAI API key configured. Set OPENAI_API_KEY on the flow.\" };\n    return [null, msg];            // output 2 → error path\n}\n\nmsg.url = \"https://api.openai.com/v1/chat/completions\";\nmsg.headers = {\n    \"Content-Type\":  \"application/json\",\n    \"Authorization\": \"Bearer \" + apiKey\n};\nmsg.payload = {\n    model: model,\n    temperature: 0.3,\n    max_tokens: 4096,\n    messages: [\n        {\n            role: \"system\",\n            content: \"You are an expert at writing LLM transformation prompts for schema-to-schema data conversion. Given a user's rough prompt, improve it to be clearer, more specific, and more effective. Keep the user's original intent. Return ONLY the improved prompt text, nothing else.\"\n        },\n        {\n            role: \"user\",\n            content: \"Source schema: \" + (d.sourceSchema || \"\") +\n                     \"\\nTarget schema: \" + (d.targetSchema || \"\") +\n                     \"\\n\\nSchema context:\\n\" + (d.schemaContext || \"(none)\") +\n                     \"\\n\\nUser's raw prompt:\\n\" + (d.rawPrompt || \"\") +\n                     \"\\n\\nReturn the improved prompt only.\"\n        }\n    ]\n};\n\nreturn [msg, null];               // output 1 → http request",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 620,
    "wires": [
      [
        "bb01000000000011"
      ],
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb01000000000011",
    "type": "http request",
    "z": "aa01000000000000",
    "name": "POST OpenAI – Enhance",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 1485,
    "y": 620,
    "wires": [
      [
        "bb01000000000012"
      ]
    ]
  },
  {
    "id": "bb01000000000012",
    "type": "switch",
    "z": "aa01000000000000",
    "name": "HTTP OK?",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "200",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1695,
    "y": 620,
    "wires": [
      [
        "bb01000000000013"
      ],
      [
        "bb01000000000014"
      ]
    ]
  },
  {
    "id": "bb01000000000013",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Parse Enhance Response (success)",
    "func": "const body = msg.payload || {};\nconst content = (body.choices && body.choices[0] && body.choices[0].message && body.choices[0].message.content) || \"\";\n\nmsg.response = {\n    action: \"enhancePrompt\",\n    status: \"success\",\n    enhancedPrompt: content.trim()\n};\ndelete msg.payload;\ndelete msg.headers;\ndelete msg.url;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1685,
    "y": 640,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb01000000000014",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Parse Enhance Error",
    "func": "const status = msg.statusCode || 0;\nconst body   = msg.payload || {};\nconst errMsg = (body.error && body.error.message) || JSON.stringify(body);\n\nmsg.response = {\n    action: \"enhancePrompt\",\n    status: \"error\",\n    message: \"OpenAI returned HTTP \" + status + \": \" + errMsg\n};\ndelete msg.payload;\ndelete msg.headers;\ndelete msg.url;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 825,
    "y": 630,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb0100000000009a",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 2. CREATE PROMPT + CODE GENERATION (real OpenAI POST) ─",
    "info": "",
    "x": 835,
    "y": 720,
    "wires": []
  },
  {
    "id": "bb01000000000020",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Build Prompt Record for Insert",
    "func": "const d = msg.data || {};\n\n// generate unique id\nconst chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nlet rnd = '';\nfor (let i = 0; i < 8; i++) rnd += chars[Math.floor(Math.random() * chars.length)];\nconst id  = 'prompt-' + Date.now().toString(36) + rnd;\nconst now = new Date().toISOString().slice(0, 10);\n\nconst prompt = {\n    id:                   id,\n    version:              d.version || \"1.0\",\n    status:               \"writing code\",\n    sourceSchema:         d.sourceSchema || \"\",\n    targetSchema:         d.targetSchema || \"\",\n    template:             d.template || \"\",\n    examples:             d.examples || \"\",\n    constraints:          d.constraints || \"\",\n    originalPrompt:       d.template || \"\",\n    enhancedPrompt:       d.enhancedPrompt || \"\",\n    generatedCode:        \"\",\n    codeGenerationStatus: \"generating\",\n    createdAt:            now,\n    updatedAt:            now,\n    lastGeneratedAt:      \"\"\n};\n\nmsg._promptData = prompt;\nmsg.collection  = \"sr_prompts\";\nmsg.operation   = \"insertOne\";\nmsg.payload     = prompt;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 760,
    "wires": [
      [
        "bb01000000000021"
      ]
    ]
  },
  {
    "id": "bb01000000000021",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Insert Prompt",
    "x": 1465,
    "y": 760,
    "wires": [
      [
        "bb01000000000022",
        "bb01000000000030"
      ]
    ]
  },
  {
    "id": "bb01000000000022",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Send Immediate \"writing code\" Response",
    "func": "// This goes straight to the UI so the user sees the prompt appear immediately.\nmsg.response = {\n    action: \"createPrompt\",\n    status: \"success\",\n    prompt: msg._promptData\n};\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1805,
    "y": 740,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb01000000000030",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Build Code-Gen Request Payload",
    "func": "const p      = msg._promptData || {};\nconst apiKey = flow.get(\"openai_api_key\") || \"\";\nconst model  = flow.get(\"openai_model\")  || \"gpt-4o\";\n\nif (!apiKey) {\n    // No API key → cannot generate code. Mark as error.\n    msg._codeGenError = \"No OpenAI API key configured.\";\n    msg._generatedCode = \"\";\n    return [null, msg];   // output 2 → skip to update-with-error\n}\n\nmsg.url = \"https://api.openai.com/v1/chat/completions\";\nmsg.headers = {\n    \"Content-Type\":  \"application/json\",\n    \"Authorization\": \"Bearer \" + apiKey\n};\nmsg.payload = {\n    model: model,\n    temperature: 0.3,\n    max_tokens: 4096,\n    messages: [\n        {\n            role: \"system\",\n            content: \"You are a code generator. Output ONLY a single JavaScript function named `transform` that takes one argument `input` (a plain object) and returns the transformed object. No markdown fences, no explanation, no imports. The function must be deterministic, handle missing fields gracefully, and produce valid JSON-serialisable output.\"\n        },\n        {\n            role: \"user\",\n            content: \"Source schema: \" + (p.sourceSchema || \"\") +\n                     \"\\nTarget schema: \" + (p.targetSchema || \"\") +\n                     \"\\n\\nPrompt / mapping instructions:\\n\" + (p.template || \"\") +\n                     \"\\n\\nGenerate the JavaScript transform function now.\"\n        }\n    ]\n};\n\nreturn [msg, null];      // output 1 → http request",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1185,
    "y": 860,
    "wires": [
      [
        "bb01000000000031"
      ],
      [
        "bb01000000000040"
      ]
    ]
  },
  {
    "id": "bb01000000000031",
    "type": "http request",
    "z": "aa01000000000000",
    "name": "POST OpenAI – Code Gen",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 1485,
    "y": 860,
    "wires": [
      [
        "bb01000000000032"
      ]
    ]
  },
  {
    "id": "bb01000000000032",
    "type": "switch",
    "z": "aa01000000000000",
    "name": "HTTP OK?",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "200",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1705,
    "y": 860,
    "wires": [
      [
        "bb01000000000033"
      ],
      [
        "bb01000000000034"
      ]
    ]
  },
  {
    "id": "bb01000000000033",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Extract Generated Code (success)",
    "func": "const body = msg.payload || {};\nlet code = (body.choices && body.choices[0] && body.choices[0].message && body.choices[0].message.content) || \"\";\n\n// Strip markdown fences if present\ncode = code.replace(/^```(?:javascript|js)?\\s*\\n?/i, \"\")\n           .replace(/\\n?```\\s*$/i, \"\")\n           .trim();\n\nmsg._generatedCode = code;\nmsg._codeGenError  = null;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 855,
    "y": 820,
    "wires": [
      [
        "bb01000000000040"
      ]
    ]
  },
  {
    "id": "bb01000000000034",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Handle Code-Gen HTTP Error",
    "func": "const status = msg.statusCode || 0;\nconst body   = msg.payload || {};\nconst errMsg = (body.error && body.error.message) || JSON.stringify(body);\n\nmsg._generatedCode = \"\";\nmsg._codeGenError  = \"OpenAI HTTP \" + status + \": \" + errMsg;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 845,
    "y": 870,
    "wires": [
      [
        "bb01000000000040"
      ]
    ]
  },
  {
    "id": "bb01000000000040",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare DB Update (code + status)",
    "func": "const p   = msg._promptData || {};\nconst now = new Date().toISOString().slice(0, 10);\nconst hasCode = !!msg._generatedCode;\n\nmsg.collection = \"sr_prompts\";\nmsg.operation  = \"updateOne\";\nmsg.payload = [\n    { id: p.id },\n    { $set: {\n        generatedCode:        msg._generatedCode || \"\",\n        codeGenerationStatus: hasCode ? \"completed\" : \"error\",\n        status:               hasCode ? \"active\"    : \"error\",\n        lastGeneratedAt:      hasCode ? now : \"\",\n        updatedAt:            now\n    }}\n];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1195,
    "y": 960,
    "wires": [
      [
        "bb01000000000041"
      ]
    ]
  },
  {
    "id": "bb01000000000041",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Update Prompt Status+Code",
    "x": 1505,
    "y": 960,
    "wires": [
      [
        "bb01000000000042"
      ]
    ]
  },
  {
    "id": "bb01000000000042",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Send \"codeGenerated\" Response to UI",
    "func": "const p       = msg._promptData || {};\nconst now     = new Date().toISOString().slice(0, 10);\nconst hasCode = !!msg._generatedCode;\n\nmsg.response = {\n    action:         \"codeGenerated\",\n    status:         hasCode ? \"success\" : \"error\",\n    promptId:       p.id,\n    generatedCode:  msg._generatedCode || \"\",\n    lastGeneratedAt: hasCode ? now : \"\",\n    updatedAt:      now,\n    message:        msg._codeGenError || \"\"\n};\n\ndelete msg._promptData;\ndelete msg._generatedCode;\ndelete msg._codeGenError;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1825,
    "y": 960,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb0100000000009b",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 3. LIST PROMPTS ────────────────────────────────────────",
    "info": "",
    "x": 805,
    "y": 1060,
    "wires": []
  },
  {
    "id": "bb01000000000060",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare Find All Prompts",
    "func": "msg.collection = \"sr_prompts\";\nmsg.operation  = \"find\";\nmsg.payload    = [{}, { projection: { _id: 0 } }];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1165,
    "y": 1100,
    "wires": [
      [
        "bb01000000000061"
      ]
    ]
  },
  {
    "id": "bb01000000000061",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Find Prompts",
    "x": 1425,
    "y": 1100,
    "wires": [
      [
        "bb01000000000062"
      ]
    ]
  },
  {
    "id": "bb01000000000062",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format listPrompts Response",
    "func": "msg.response = {\n    action:  \"listPrompts\",\n    status:  \"success\",\n    prompts: Array.isArray(msg.payload) ? msg.payload : []\n};\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1705,
    "y": 1100,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb0100000000009c",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 4. UPDATE PROMPT CODE (Edit Code save) ────────────────",
    "info": "",
    "x": 825,
    "y": 1160,
    "wires": []
  },
  {
    "id": "bb01000000000070",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare updateOne (code)",
    "func": "const d   = msg.data || {};\nconst now = new Date().toISOString().slice(0, 10);\nmsg._promptId  = d.promptId;\nmsg._savedCode = d.code || \"\";\nmsg.collection = \"sr_prompts\";\nmsg.operation  = \"updateOne\";\nmsg.payload    = [\n    { id: d.promptId },\n    { $set: { generatedCode: d.code || \"\", updatedAt: now } }\n];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 1200,
    "wires": [
      [
        "bb01000000000071"
      ]
    ]
  },
  {
    "id": "bb01000000000071",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Update Code",
    "x": 1425,
    "y": 1200,
    "wires": [
      [
        "bb01000000000072"
      ]
    ]
  },
  {
    "id": "bb01000000000072",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format updatePromptCode Response",
    "func": "msg.response = {\n    action:    \"updatePromptCode\",\n    status:    \"success\",\n    promptId:  msg._promptId,\n    code:      msg._savedCode,\n    updatedAt: new Date().toISOString().slice(0, 10)\n};\ndelete msg._promptId;\ndelete msg._savedCode;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1735,
    "y": 1200,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb0100000000009d",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 5. DELETE PROMPT ───────────────────────────────────────",
    "info": "",
    "x": 795,
    "y": 1260,
    "wires": []
  },
  {
    "id": "bb01000000000080",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare deleteOne (prompt)",
    "func": "const d = msg.data || {};\nmsg._promptId  = d.promptId;\nmsg.collection = \"sr_prompts\";\nmsg.operation  = \"deleteOne\";\nmsg.payload    = { id: d.promptId };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 1300,
    "wires": [
      [
        "bb01000000000081"
      ]
    ]
  },
  {
    "id": "bb01000000000081",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Delete Prompt",
    "x": 1435,
    "y": 1300,
    "wires": [
      [
        "bb01000000000082"
      ]
    ]
  },
  {
    "id": "bb01000000000082",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format deletePrompt Response",
    "func": "msg.response = {\n    action:   \"deletePrompt\",\n    status:   \"success\",\n    promptId: msg._promptId\n};\ndelete msg._promptId;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1715,
    "y": 1300,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb0100000000009e",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 6. DRY RUN (execute saved transform code) ────────────",
    "info": "",
    "x": 815,
    "y": 1360,
    "wires": []
  },
  {
    "id": "bb01000000000090",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare findOne (prompt for dry run)",
    "func": "const d = msg.data || {};\nmsg._dryRunData = d;\nmsg.collection  = \"sr_prompts\";\nmsg.operation   = \"findOne\";\nmsg.payload     = { id: d.promptId };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1195,
    "y": 1400,
    "wires": [
      [
        "bb01000000000091"
      ]
    ]
  },
  {
    "id": "bb01000000000091",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Find Prompt by ID",
    "x": 1495,
    "y": 1400,
    "wires": [
      [
        "bb01000000000092"
      ]
    ]
  },
  {
    "id": "bb01000000000092",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Execute Transform Function",
    "func": "const d      = msg._dryRunData || {};\nconst prompt = msg.payload;\n\nif (!prompt) {\n    msg.response = { action:\"dryRunPrompt\", status:\"error\", message:\"Prompt not found\" };\n    delete msg.payload;\n    return msg;\n}\n\nconst code = prompt.generatedCode || \"\";\nif (!code) {\n    msg.response = { action:\"dryRunPrompt\", status:\"error\", message:\"No generated code for this prompt\" };\n    delete msg.payload;\n    return msg;\n}\n\n// Parse sample input\nlet input;\ntry {\n    input = JSON.parse(d.sampleInput || \"{}\");\n} catch (e) {\n    input = d.sampleInput;\n}\n\n// Execute the saved/edited transformation function\ntry {\n    const fn     = new Function(\"input\", code + \"\\nreturn transform(input);\");\n    const result = fn(input);\n    msg.response = {\n        action:   \"dryRunPrompt\",\n        status:   \"success\",\n        result:   JSON.stringify(result, null, 2),\n        promptId: d.promptId\n    };\n} catch (execErr) {\n    msg.response = {\n        action:   \"dryRunPrompt\",\n        status:   \"error\",\n        message:  \"Code execution failed: \" + execErr.message,\n        promptId: d.promptId\n    };\n}\n\ndelete msg._dryRunData;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 10,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1775,
    "y": 1400,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb0100000000009f",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 7. SAVE TEST CASE ──────────────────────────────────────",
    "info": "",
    "x": 795,
    "y": 1460,
    "wires": []
  },
  {
    "id": "bb010000000000a0",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare Test Case insert/update",
    "func": "const d   = msg.data || {};\nconst now = new Date().toISOString().slice(0, 10);\n\nif (d.id) {\n    // Update existing\n    msg._testCaseId = d.id;\n    var tc = {\n        id:             d.id,\n        name:           d.name || \"\",\n        promptId:       d.promptId || \"\",\n        llmConfigId:    d.llmConfigId || \"\",\n        sampleInput:    d.sampleInput || \"\",\n        expectedOutput: d.expectedOutput || \"\",\n        updatedAt:      now\n    };\n    msg._testCaseData = tc;\n    msg.collection  = \"sr_test_cases\";\n    msg.operation   = \"updateOne\";\n    msg.payload = [\n        { id: d.id },\n        { $set: {\n            name:           tc.name,\n            promptId:       tc.promptId,\n            llmConfigId:    tc.llmConfigId,\n            sampleInput:    tc.sampleInput,\n            expectedOutput: tc.expectedOutput,\n            updatedAt:      now\n        }}\n    ];\n} else {\n    // Insert new\n    const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\n    let rnd = '';\n    for (let i = 0; i < 6; i++) rnd += chars[Math.floor(Math.random() * chars.length)];\n    const id = 'tc-' + rnd;\n    msg._testCaseId = id;\n    msg._isNew      = true;\n    var newTc = {\n        id:             id,\n        name:           d.name || \"\",\n        promptId:       d.promptId || \"\",\n        llmConfigId:    d.llmConfigId || \"\",\n        sampleInput:    d.sampleInput || \"\",\n        expectedOutput: d.expectedOutput || \"\",\n        lastResult:     \"\",\n        lastRunAt:      \"\",\n        createdAt:      now,\n        updatedAt:      now\n    };\n    msg._testCaseData = newTc;\n    msg.collection   = \"sr_test_cases\";\n    msg.operation    = \"insertOne\";\n    msg.payload      = newTc;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1185,
    "y": 1500,
    "wires": [
      [
        "bb010000000000a1"
      ]
    ]
  },
  {
    "id": "bb010000000000a1",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Upsert Test Case",
    "x": 1455,
    "y": 1500,
    "wires": [
      [
        "bb010000000000a2"
      ]
    ]
  },
  {
    "id": "bb010000000000a2",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format saveTestCase Response",
    "func": "msg.response = {\n    action:     \"saveTestCase\",\n    status:     \"success\",\n    testCaseId: msg._testCaseId,\n    isNew:      !!msg._isNew,\n    testCase:   msg._testCaseData || null\n};\ndelete msg._testCaseId;\ndelete msg._isNew;\ndelete msg._testCaseData;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1735,
    "y": 1500,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb01000000000100",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 8. LIST TEST CASES ─────────────────────────────────────",
    "info": "",
    "x": 795,
    "y": 1560,
    "wires": []
  },
  {
    "id": "bb010000000000b0",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare Find All Test Cases",
    "func": "msg.collection = \"sr_test_cases\";\nmsg.operation  = \"find\";\nmsg.payload    = [{}, { projection: { _id: 0 } }];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 1600,
    "wires": [
      [
        "bb010000000000b1"
      ]
    ]
  },
  {
    "id": "bb010000000000b1",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Find Test Cases",
    "x": 1445,
    "y": 1600,
    "wires": [
      [
        "bb010000000000b2"
      ]
    ]
  },
  {
    "id": "bb010000000000b2",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format listTestCases Response",
    "func": "msg.response = {\n    action:    \"listTestCases\",\n    status:    \"success\",\n    testCases: Array.isArray(msg.payload) ? msg.payload : []\n};\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1725,
    "y": 1600,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb01000000000101",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 9. DELETE TEST CASE ────────────────────────────────────",
    "info": "",
    "x": 795,
    "y": 1660,
    "wires": []
  },
  {
    "id": "bb010000000000c0",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare deleteOne (test case)",
    "func": "const d = msg.data || {};\nmsg._testCaseId = d.testCaseId;\nmsg.collection  = \"sr_test_cases\";\nmsg.operation   = \"deleteOne\";\nmsg.payload     = { id: d.testCaseId };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 1700,
    "wires": [
      [
        "bb010000000000c1"
      ]
    ]
  },
  {
    "id": "bb010000000000c1",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Delete Test Case",
    "x": 1455,
    "y": 1700,
    "wires": [
      [
        "bb010000000000c2"
      ]
    ]
  },
  {
    "id": "bb010000000000c2",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format deleteTestCase Response",
    "func": "msg.response = {\n    action:     \"deleteTestCase\",\n    status:     \"success\",\n    testCaseId: msg._testCaseId\n};\ndelete msg._testCaseId;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1735,
    "y": 1700,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb01000000000102",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 10. UPDATE PROMPT (full metadata edit + conflict check) ─",
    "info": "",
    "x": 815,
    "y": 1760,
    "wires": []
  },
  {
    "id": "bb010000000000d3",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Check if Active Conflict Query Needed",
    "func": "const d = msg.data || {};\nmsg._updateOriginalData = d;\nmsg._promptId = d.promptId;\n\nif (d.status === \"active\") {\n    msg.collection = \"sr_prompts\";\n    msg.operation  = \"findOne\";\n    msg.payload    = {\n        status: \"active\",\n        sourceSchema: d.sourceSchema,\n        targetSchema: d.targetSchema,\n        id: { $ne: d.promptId }\n    };\n    return [msg, null];  // output 1 → conflict check\n}\nreturn [null, msg];      // output 2 → skip to update",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1185,
    "y": 1780,
    "wires": [
      [
        "bb010000000000d4"
      ],
      [
        "bb010000000000d0"
      ]
    ]
  },
  {
    "id": "bb010000000000d4",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Check Active Conflict",
    "x": 1455,
    "y": 1760,
    "wires": [
      [
        "bb010000000000d5"
      ]
    ]
  },
  {
    "id": "bb010000000000d5",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Evaluate Conflict (updatePrompt)",
    "func": "const conflict = msg.payload;\nif (conflict) {\n    const cid = conflict.id || \"unknown\";\n    msg.response = {\n        action: \"updatePrompt\",\n        status: \"error\",\n        message: 'Only one active prompt allowed per source-target pair. \"' + cid + '\" is already active.'\n    };\n    delete msg.payload;\n    delete msg.collection;\n    delete msg.operation;\n    return [null, msg];  // output 2 → error response\n}\nmsg.data = msg._updateOriginalData;\ndelete msg._updateOriginalData;\nreturn [msg, null];      // output 1 → proceed to update",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1715,
    "y": 1760,
    "wires": [
      [
        "bb010000000000d0"
      ],
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb010000000000d0",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare updateOne (full prompt)",
    "func": "const d   = msg.data || {};\nconst now = new Date().toISOString().slice(0, 10);\nmsg._promptId   = d.promptId;\nmsg._updateData = d;\nmsg.collection  = \"sr_prompts\";\nmsg.operation   = \"updateOne\";\n\nconst update = {};\nif (d.version      !== undefined) update.version      = d.version;\nif (d.sourceSchema !== undefined) update.sourceSchema = d.sourceSchema;\nif (d.targetSchema !== undefined) update.targetSchema = d.targetSchema;\nif (d.template     !== undefined) update.template     = d.template;\nif (d.examples     !== undefined) update.examples     = d.examples;\nif (d.constraints  !== undefined) update.constraints  = d.constraints;\nif (d.status       !== undefined) update.status       = d.status;\nif (d.code         !== undefined) update.generatedCode = d.code;\nupdate.updatedAt = now;\n\nmsg.payload = [\n    { id: d.promptId },\n    { $set: update }\n];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1185,
    "y": 1800,
    "wires": [
      [
        "bb010000000000d1"
      ]
    ]
  },
  {
    "id": "bb010000000000d1",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Update Prompt",
    "x": 1435,
    "y": 1800,
    "wires": [
      [
        "bb010000000000d2"
      ]
    ]
  },
  {
    "id": "bb010000000000d2",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format updatePrompt Response",
    "func": "var d = msg._updateData || {};\nmsg.response = {\n    action:       \"updatePrompt\",\n    status:       \"success\",\n    promptId:     msg._promptId,\n    version:      d.version,\n    sourceSchema: d.sourceSchema,\n    targetSchema: d.targetSchema,\n    template:     d.template,\n    examples:     d.examples,\n    constraints:  d.constraints,\n    promptStatus: d.status,\n    code:         d.code,\n    updatedAt:    new Date().toISOString().slice(0, 10)\n};\ndelete msg._promptId;\ndelete msg._updateData;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1715,
    "y": 1800,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb01000000000103",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 11. UPDATE PROMPT STATUS (+ conflict check) ────────────",
    "info": "",
    "x": 815,
    "y": 1960,
    "wires": []
  },
  {
    "id": "bb010000000000e3",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Check if Active Status Conflict Needed",
    "func": "const d = msg.data || {};\nmsg._statusOriginalData = d;\nmsg._promptId   = d.promptId;\nmsg._newStatus  = d.status;\n\nif (d.status === \"active\") {\n    msg.collection = \"sr_prompts\";\n    msg.operation  = \"findOne\";\n    msg.payload    = {\n        status: \"active\",\n        sourceSchema: d.sourceSchema,\n        targetSchema: d.targetSchema,\n        id: { $ne: d.promptId }\n    };\n    return [msg, null];  // output 1 → conflict check\n}\nreturn [null, msg];      // output 2 → skip to update",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1185,
    "y": 1980,
    "wires": [
      [
        "bb010000000000e4"
      ],
      [
        "bb010000000000e0"
      ]
    ]
  },
  {
    "id": "bb010000000000e4",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Check Active Conflict (Status)",
    "x": 1475,
    "y": 1960,
    "wires": [
      [
        "bb010000000000e5"
      ]
    ]
  },
  {
    "id": "bb010000000000e5",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Evaluate Conflict (updateStatus)",
    "func": "const conflict = msg.payload;\nif (conflict) {\n    const cid = conflict.id || \"unknown\";\n    msg.response = {\n        action: \"updatePromptStatus\",\n        status: \"error\",\n        message: 'Cannot activate: \"' + cid + '\" is already active for this source-target pair.'\n    };\n    delete msg.payload;\n    delete msg.collection;\n    delete msg.operation;\n    return [null, msg];  // output 2 → error response\n}\nmsg.data = msg._statusOriginalData;\ndelete msg._statusOriginalData;\nreturn [msg, null];      // output 1 → proceed to update",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1735,
    "y": 1960,
    "wires": [
      [
        "bb010000000000e0"
      ],
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "bb010000000000e0",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare updateOne (status)",
    "func": "const d   = msg.data || {};\nconst now = new Date().toISOString().slice(0, 10);\nmsg._promptId    = d.promptId;\nmsg._newStatus   = d.status;\nmsg.collection   = \"sr_prompts\";\nmsg.operation    = \"updateOne\";\nmsg.payload = [\n    { id: d.promptId },\n    { $set: { status: d.status, updatedAt: now } }\n];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 2040,
    "wires": [
      [
        "bb010000000000e1"
      ]
    ]
  },
  {
    "id": "bb010000000000e1",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Update Prompt Status",
    "x": 1455,
    "y": 2040,
    "wires": [
      [
        "bb010000000000e2"
      ]
    ]
  },
  {
    "id": "bb010000000000e2",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format updatePromptStatus Response",
    "func": "msg.response = {\n    action:    \"updatePromptStatus\",\n    status:    \"success\",\n    promptId:  msg._promptId,\n    newStatus: msg._newStatus,\n    updatedAt: new Date().toISOString().slice(0, 10)\n};\ndelete msg._promptId;\ndelete msg._newStatus;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1745,
    "y": 2040,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "cc01000000000001",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 12. SAVE LLM CONFIG (create/update) ────────────────────",
    "info": "",
    "x": 815,
    "y": 2140,
    "wires": []
  },
  {
    "id": "cc01000000000010",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare LLM Config insert/update",
    "func": "const d   = msg.data || {};\nconst now = new Date().toISOString().slice(0, 10);\n\nif (d.id) {\n    msg._configId = d.id;\n    msg._isNew    = false;\n    msg._configData = d;\n    msg.collection  = \"sr_llm_configs\";\n    msg.operation   = \"updateOne\";\n    msg.payload = [\n        { id: d.id },\n        { $set: {\n            name:        d.name || \"\",\n            provider:    d.provider || \"OpenAI\",\n            model:       d.model || \"\",\n            temperature: d.temperature ?? 0.3,\n            maxTokens:   d.maxTokens ?? 4096,\n            timeout:     d.timeout ?? 30,\n            status:      d.status || \"active\",\n            updatedAt:   now\n        }}\n    ];\n} else {\n    const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\n    let rnd = '';\n    for (let i = 0; i < 6; i++) rnd += chars[Math.floor(Math.random() * chars.length)];\n    const id = 'llm-' + rnd;\n    msg._configId = id;\n    msg._isNew    = true;\n    const config = {\n        id:          id,\n        name:        d.name || \"\",\n        provider:    d.provider || \"OpenAI\",\n        model:       d.model || \"\",\n        temperature: d.temperature ?? 0.3,\n        maxTokens:   d.maxTokens ?? 4096,\n        timeout:     d.timeout ?? 30,\n        status:      d.status || \"active\",\n        createdAt:   now,\n        updatedAt:   now\n    };\n    msg._configData = config;\n    msg.collection  = \"sr_llm_configs\";\n    msg.operation   = \"insertOne\";\n    msg.payload     = config;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1185,
    "y": 2180,
    "wires": [
      [
        "cc01000000000011"
      ]
    ]
  },
  {
    "id": "cc01000000000011",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Upsert LLM Config",
    "x": 1455,
    "y": 2180,
    "wires": [
      [
        "cc01000000000012"
      ]
    ]
  },
  {
    "id": "cc01000000000012",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format saveLlmConfig Response",
    "func": "const d   = msg._configData || {};\nconst now = new Date().toISOString().slice(0, 10);\nconst config = {\n    id:          msg._configId,\n    name:        d.name || \"\",\n    provider:    d.provider || \"OpenAI\",\n    model:       d.model || \"\",\n    temperature: d.temperature ?? 0.3,\n    maxTokens:   d.maxTokens ?? 4096,\n    timeout:     d.timeout ?? 30,\n    status:      d.status || \"active\",\n    createdAt:   d.createdAt || now,\n    updatedAt:   now\n};\nmsg.response = {\n    action:   \"saveLlmConfig\",\n    status:   \"success\",\n    configId: msg._configId,\n    isNew:    !!msg._isNew,\n    config:   config\n};\ndelete msg._configId;\ndelete msg._isNew;\ndelete msg._configData;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1735,
    "y": 2180,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "cc01000000000002",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 13. DELETE LLM CONFIG ──────────────────────────────────",
    "info": "",
    "x": 805,
    "y": 2240,
    "wires": []
  },
  {
    "id": "cc01000000000020",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare deleteOne (llm config)",
    "func": "const d = msg.data || {};\nmsg._configId  = d.configId;\nmsg.collection = \"sr_llm_configs\";\nmsg.operation  = \"deleteOne\";\nmsg.payload    = { id: d.configId };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 2280,
    "wires": [
      [
        "cc01000000000021"
      ]
    ]
  },
  {
    "id": "cc01000000000021",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Delete LLM Config",
    "x": 1445,
    "y": 2280,
    "wires": [
      [
        "cc01000000000022"
      ]
    ]
  },
  {
    "id": "cc01000000000022",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format deleteLlmConfig Response",
    "func": "msg.response = {\n    action:   \"deleteLlmConfig\",\n    status:   \"success\",\n    configId: msg._configId\n};\ndelete msg._configId;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1735,
    "y": 2280,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "cc01000000000003",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 14. SAVE PROVIDER (create/update) ──────────────────────",
    "info": "",
    "x": 815,
    "y": 2360,
    "wires": []
  },
  {
    "id": "cc01000000000030",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare Provider insert/update",
    "func": "const d   = msg.data || {};\nconst now = new Date().toISOString().slice(0, 10);\nconst models = Array.isArray(d.models) ? d.models : [];\n\nif (d.id) {\n    msg._providerId   = d.id;\n    msg._isNew        = false;\n    msg._providerData = d;\n    msg.collection    = \"sr_providers\";\n    msg.operation     = \"updateOne\";\n    msg.payload = [\n        { id: d.id },\n        { $set: {\n            name:        d.name || \"\",\n            type:        d.type || \"openai\",\n            apiEndpoint: d.apiEndpoint || \"\",\n            models:      models,\n            isDefault:   !!d.isDefault,\n            precedence:  d.precedence || 1,\n            status:      d.status || \"active\",\n            updatedAt:   now\n        }}\n    ];\n} else {\n    const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\n    let rnd = '';\n    for (let i = 0; i < 6; i++) rnd += chars[Math.floor(Math.random() * chars.length)];\n    const id = 'prov-' + rnd;\n    msg._providerId = id;\n    msg._isNew      = true;\n    const provider = {\n        id:          id,\n        name:        d.name || \"\",\n        type:        d.type || \"openai\",\n        apiEndpoint: d.apiEndpoint || \"\",\n        models:      models,\n        isDefault:   !!d.isDefault,\n        precedence:  d.precedence || 1,\n        status:      d.status || \"active\",\n        createdAt:   now,\n        updatedAt:   now\n    };\n    msg._providerData = provider;\n    msg.collection    = \"sr_providers\";\n    msg.operation     = \"insertOne\";\n    msg.payload       = provider;\n}\n\n// If this provider is default, clear default from others\nif (d.isDefault) {\n    msg._enforceDefault = true;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 2400,
    "wires": [
      [
        "cc01000000000031"
      ]
    ]
  },
  {
    "id": "cc01000000000031",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Upsert Provider",
    "x": 1435,
    "y": 2400,
    "wires": [
      [
        "cc01000000000032"
      ]
    ]
  },
  {
    "id": "cc01000000000032",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format saveProvider Response",
    "func": "const d   = msg._providerData || {};\nconst now = new Date().toISOString().slice(0, 10);\nconst provider = {\n    id:          msg._providerId,\n    name:        d.name || \"\",\n    type:        d.type || \"openai\",\n    apiEndpoint: d.apiEndpoint || \"\",\n    models:      Array.isArray(d.models) ? d.models : [],\n    isDefault:   !!d.isDefault,\n    precedence:  d.precedence || 1,\n    status:      d.status || \"active\",\n    createdAt:   d.createdAt || now,\n    updatedAt:   now\n};\nmsg.response = {\n    action:     \"saveProvider\",\n    status:     \"success\",\n    providerId: msg._providerId,\n    isNew:      !!msg._isNew,\n    provider:   provider\n};\ndelete msg._providerId;\ndelete msg._isNew;\ndelete msg._providerData;\ndelete msg._enforceDefault;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1715,
    "y": 2400,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "cc01000000000004",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 15. DELETE PROVIDER ────────────────────────────────────",
    "info": "",
    "x": 805,
    "y": 2460,
    "wires": []
  },
  {
    "id": "cc01000000000040",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare deleteOne (provider)",
    "func": "const d = msg.data || {};\nmsg._providerId = d.providerId;\nmsg.collection  = \"sr_providers\";\nmsg.operation   = \"deleteOne\";\nmsg.payload     = { id: d.providerId };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 2500,
    "wires": [
      [
        "cc01000000000041"
      ]
    ]
  },
  {
    "id": "cc01000000000041",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Delete Provider",
    "x": 1435,
    "y": 2500,
    "wires": [
      [
        "cc01000000000042"
      ]
    ]
  },
  {
    "id": "cc01000000000042",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format deleteProvider Response",
    "func": "msg.response = {\n    action:     \"deleteProvider\",\n    status:     \"success\",\n    providerId: msg._providerId\n};\ndelete msg._providerId;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1715,
    "y": 2500,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "cc01000000000005",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 16. REORDER PROVIDER ───────────────────────────────────",
    "info": "",
    "x": 805,
    "y": 2560,
    "wires": []
  },
  {
    "id": "cc01000000000050",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare Find All Providers (for reorder)",
    "func": "const d = msg.data || {};\nmsg._reorderProviderId = d.providerId;\nmsg._reorderDirection  = d.direction || \"up\";\nmsg.collection = \"sr_providers\";\nmsg.operation  = \"find\";\nmsg.payload    = [{}, { projection: { _id: 0 }, sort: { precedence: 1 } }];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1195,
    "y": 2600,
    "wires": [
      [
        "cc01000000000051"
      ]
    ]
  },
  {
    "id": "cc01000000000051",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Find All Providers",
    "x": 1455,
    "y": 2600,
    "wires": [
      [
        "cc01000000000052"
      ]
    ]
  },
  {
    "id": "cc01000000000052",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Reorder + Format Response",
    "func": "const providers = Array.isArray(msg.payload) ? msg.payload : [];\nconst id   = msg._reorderProviderId;\nconst dir  = msg._reorderDirection;\nconst idx  = providers.findIndex(p => p.id === id);\n\nif (idx !== -1) {\n    if (dir === \"up\" && idx > 0) {\n        const tmp = providers[idx];\n        providers[idx] = providers[idx - 1];\n        providers[idx - 1] = tmp;\n    } else if (dir === \"down\" && idx < providers.length - 1) {\n        const tmp = providers[idx];\n        providers[idx] = providers[idx + 1];\n        providers[idx + 1] = tmp;\n    }\n    providers.forEach((p, i) => { p.precedence = i + 1; });\n}\n\nmsg.response = {\n    action:    \"reorderProvider\",\n    status:    \"success\",\n    providers: providers\n};\ndelete msg._reorderProviderId;\ndelete msg._reorderDirection;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1715,
    "y": 2600,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "cc01000000000006",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 17. START BATCH RETRANSFORM ────────────────────────────",
    "info": "",
    "x": 815,
    "y": 2680,
    "wires": []
  },
  {
    "id": "cc01000000000060",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Batch Retransform (simulated processing)",
    "func": "const d = msg.data || {};\nconst total = d.scope === \"all\" ? 275 : d.scope === \"catalogue\" ? 120 : 50;\nconst startedAt = new Date().toISOString().replace(\"T\", \" \").slice(0, 16);\n\n// Send immediate \"started\" response\nvar startMsg = RED.util.cloneMessage(msg);\nstartMsg.response = {\n    action: \"startBatchRetransform\",\n    status: \"success\",\n    totalAssets: total,\n    startedAt: startedAt\n};\ndelete startMsg.payload;\nnode.send(startMsg);\n\n// Store batch state in flow context\nvar state = { status: \"running\", total: total, processed: 0, startedAt: startedAt };\nflow.set(\"batchState\", state);\n\nvar processed = 0;\nvar errorCount = 0;\nvar errors = [];\n\nvar intervalId = setInterval(function() {\n    var bs = flow.get(\"batchState\") || {};\n    if (bs.status !== \"running\") {\n        clearInterval(intervalId);\n        flow.set(\"batchIntervalId\", null);\n        return;\n    }\n    var step = Math.ceil(total / 20);\n    processed = Math.min(total, processed + step);\n    var progress = Math.round((processed / total) * 100);\n\n    if (processed > total * 0.6 && errorCount === 0) {\n        errorCount = Math.ceil(total * 0.02);\n        errors = [\n            { assetId: \"asset-err-001\", message: \"SHACL validation failed\", timestamp: new Date().toISOString().slice(0, 19) },\n            { assetId: \"asset-err-002\", message: \"LLM timeout exceeded\", timestamp: new Date().toISOString().slice(0, 19) }\n        ];\n    }\n\n    var update = {\n        action: \"batchRetransformProgress\",\n        status: processed >= total ? \"completed\" : \"running\",\n        progress: progress,\n        processedAssets: processed,\n        totalAssets: total,\n        successCount: processed - errorCount,\n        errorCount: errorCount,\n        skippedCount: 0,\n        errors: errors,\n        startedAt: startedAt,\n        completedAt: processed >= total ? new Date().toISOString().replace(\"T\", \" \").slice(0, 16) : \"\"\n    };\n\n    if (processed >= total) {\n        clearInterval(intervalId);\n        flow.set(\"batchIntervalId\", null);\n        flow.set(\"batchState\", { status: \"completed\" });\n        var triggerLabels = { prompt_change: \"Prompt changed\", strategy_change: \"Strategy changed\", llm_change: \"LLM config changed\", manual: \"Manual trigger\" };\n        var scopeLabels = { all: \"All assets\", catalogue: \"Catalogue: \" + (d.catalogueFilter || \"—\"), query: \"Query: \" + (d.queryFilter || \"—\") };\n        update.historyEntry = {\n            id: \"br-\" + String(Date.now()).slice(-6),\n            trigger: triggerLabels[d.trigger] || d.trigger,\n            scope: scopeLabels[d.scope] || d.scope,\n            dryRun: !!d.dryRun,\n            total: total,\n            success: processed - errorCount,\n            errors: errorCount,\n            skipped: 0,\n            startedAt: startedAt,\n            completedAt: update.completedAt,\n            status: \"completed\"\n        };\n    }\n\n    var progressMsg = RED.util.cloneMessage(msg);\n    progressMsg.response = update;\n    delete progressMsg.payload;\n    node.send(progressMsg);\n}, 400);\n\nflow.set(\"batchIntervalId\", intervalId);\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1205,
    "y": 2720,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "cc01000000000007",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 18. CANCEL BATCH RETRANSFORM ───────────────────────────",
    "info": "",
    "x": 815,
    "y": 2780,
    "wires": []
  },
  {
    "id": "cc01000000000070",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Cancel Batch Retransform",
    "func": "var intervalId = flow.get(\"batchIntervalId\");\nif (intervalId) {\n    clearInterval(intervalId);\n    flow.set(\"batchIntervalId\", null);\n}\nflow.set(\"batchState\", { status: \"cancelled\" });\n\nmsg.response = {\n    action: \"batchRetransformProgress\",\n    status: \"cancelled\",\n    completedAt: new Date().toISOString().replace(\"T\", \" \").slice(0, 16)\n};\ndelete msg.payload;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 2820,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "dd0100000000000a",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 19. LIST LLM CONFIGS ───────────────────────────────────",
    "info": "",
    "x": 805,
    "y": 2880,
    "wires": []
  },
  {
    "id": "dd01000000000010",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare Find All LLM Configs",
    "func": "msg.collection = \"sr_llm_configs\";\nmsg.operation  = \"find\";\nmsg.payload    = [{}, { projection: { _id: 0 } }];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 2920,
    "wires": [
      [
        "dd01000000000011"
      ]
    ]
  },
  {
    "id": "dd01000000000011",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Find LLM Configs",
    "x": 1445,
    "y": 2920,
    "wires": [
      [
        "dd01000000000012"
      ]
    ]
  },
  {
    "id": "dd01000000000012",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format listLlmConfigs Response",
    "func": "msg.response = {\n    action:  \"listLlmConfigs\",\n    status:  \"success\",\n    configs: Array.isArray(msg.payload) ? msg.payload : []\n};\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1735,
    "y": 2920,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "dd0100000000000b",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 20. LIST PROVIDERS ─────────────────────────────────────",
    "info": "",
    "x": 805,
    "y": 2980,
    "wires": []
  },
  {
    "id": "dd01000000000020",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare Find All Providers",
    "func": "msg.collection = \"sr_providers\";\nmsg.operation  = \"find\";\nmsg.payload    = [{}, { projection: { _id: 0 }, sort: { precedence: 1 } }];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1165,
    "y": 3020,
    "wires": [
      [
        "dd01000000000021"
      ]
    ]
  },
  {
    "id": "dd01000000000021",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Find Providers",
    "x": 1435,
    "y": 3020,
    "wires": [
      [
        "dd01000000000022"
      ]
    ]
  },
  {
    "id": "dd01000000000022",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format listProviders Response",
    "func": "msg.response = {\n    action:    \"listProviders\",\n    status:    \"success\",\n    providers: Array.isArray(msg.payload) ? msg.payload : []\n};\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1715,
    "y": 3020,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "ee01000000000001",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 21. SAVE LOCAL SCHEMA (create/update) ──────────────────",
    "info": "",
    "x": 815,
    "y": 3100,
    "wires": []
  },
  {
    "id": "ee01000000000010",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare Local Schema insert/update",
    "func": "const d   = msg.data || {};\nconst now = new Date().toISOString().slice(0, 10);\n\nif (d.id) {\n    msg._schemaId   = d.id;\n    msg._isNew      = false;\n    msg._schemaData = d;\n    msg.collection  = \"sr_local_schemas\";\n    msg.operation   = \"updateOne\";\n    msg.payload = [\n        { id: d.id },\n        { $set: {\n            schema:       d.schema || \"\",\n            format:       d.format || \"SHACL\",\n            catalogs:     d.catalogs || 1,\n            localMapping: d.localMapping || null,\n            versioning:   d.versioning || \"v1.0\",\n            trustLevel:   d.trustLevel || \"Federated\",\n            updatedAt:    now\n        }}\n    ];\n} else {\n    const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\n    let rnd = '';\n    for (let i = 0; i < 6; i++) rnd += chars[Math.floor(Math.random() * chars.length)];\n    const id = 'schema-' + Date.now().toString(36) + rnd;\n    msg._schemaId = id;\n    msg._isNew    = true;\n    const schema = {\n        id:           id,\n        schema:       d.schema || \"\",\n        format:       d.format || \"SHACL\",\n        catalogs:     d.catalogs || 1,\n        localMapping: d.localMapping || null,\n        versioning:   d.versioning || \"v1.0\",\n        versionOptions: [\"v1.0\", \"v1.1\", \"v2.0\"],\n        trustLevel:   d.trustLevel || \"Federated\",\n        createdAt:    now,\n        updatedAt:    now\n    };\n    msg._schemaData = schema;\n    msg.collection  = \"sr_local_schemas\";\n    msg.operation   = \"insertOne\";\n    msg.payload     = schema;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1185,
    "y": 3140,
    "wires": [
      [
        "ee01000000000011"
      ]
    ]
  },
  {
    "id": "ee01000000000011",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Upsert Local Schema",
    "x": 1455,
    "y": 3140,
    "wires": [
      [
        "ee01000000000012"
      ]
    ]
  },
  {
    "id": "ee01000000000012",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format saveLocalSchema Response",
    "func": "const d   = msg._schemaData || {};\nconst now = new Date().toISOString().slice(0, 10);\nconst schema = {\n    id:           msg._schemaId,\n    schema:       d.schema || \"\",\n    format:       d.format || \"SHACL\",\n    catalogs:     d.catalogs || 1,\n    localMapping: d.localMapping || null,\n    versioning:   d.versioning || \"v1.0\",\n    versionOptions: d.versionOptions || [\"v1.0\", \"v1.1\", \"v2.0\"],\n    trustLevel:   d.trustLevel || \"Federated\",\n    createdAt:    d.createdAt || now,\n    updatedAt:    now\n};\nmsg.response = {\n    action:   \"saveLocalSchema\",\n    status:   \"success\",\n    schemaId: msg._schemaId,\n    isNew:    !!msg._isNew,\n    schema:   schema\n};\ndelete msg._schemaId;\ndelete msg._isNew;\ndelete msg._schemaData;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1735,
    "y": 3140,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "ee01000000000002",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 22. LIST LOCAL SCHEMAS ─────────────────────────────────",
    "info": "",
    "x": 805,
    "y": 3200,
    "wires": []
  },
  {
    "id": "ee01000000000020",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare Find All Local Schemas",
    "func": "msg.collection = \"sr_local_schemas\";\nmsg.operation  = \"find\";\nmsg.payload    = [{}, { projection: { _id: 0 } }];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 3240,
    "wires": [
      [
        "ee01000000000021"
      ]
    ]
  },
  {
    "id": "ee01000000000021",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Find Local Schemas",
    "x": 1445,
    "y": 3240,
    "wires": [
      [
        "ee01000000000022"
      ]
    ]
  },
  {
    "id": "ee01000000000022",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format listLocalSchemas Response",
    "func": "msg.response = {\n    action:  \"listLocalSchemas\",\n    status:  \"success\",\n    schemas: Array.isArray(msg.payload) ? msg.payload : []\n};\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1735,
    "y": 3240,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "ee01000000000003",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 23. DELETE LOCAL SCHEMA ────────────────────────────────",
    "info": "",
    "x": 805,
    "y": 3300,
    "wires": []
  },
  {
    "id": "ee01000000000030",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare deleteOne (local schema)",
    "func": "const d = msg.data || {};\nmsg._schemaId  = d.schemaId;\nmsg.collection = \"sr_local_schemas\";\nmsg.operation  = \"deleteOne\";\nmsg.payload    = { id: d.schemaId };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 3340,
    "wires": [
      [
        "ee01000000000031"
      ]
    ]
  },
  {
    "id": "ee01000000000031",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Delete Local Schema",
    "x": 1445,
    "y": 3340,
    "wires": [
      [
        "ee01000000000032"
      ]
    ]
  },
  {
    "id": "ee01000000000032",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format deleteLocalSchema Response",
    "func": "msg.response = {\n    action:   \"deleteLocalSchema\",\n    status:   \"success\",\n    schemaId: msg._schemaId\n};\ndelete msg._schemaId;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1735,
    "y": 3340,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "ee01000000000004",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 24. SAVE MAPPING (create/update) ───────────────────────",
    "info": "",
    "x": 815,
    "y": 3420,
    "wires": []
  },
  {
    "id": "ee01000000000040",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare Mapping insert/update",
    "func": "const d   = msg.data || {};\nconst now = new Date().toISOString().slice(0, 10);\n\nif (d.id) {\n    msg._mappingId   = d.id;\n    msg._isNew       = false;\n    msg._mappingData = d;\n    msg.collection   = \"sr_mappings\";\n    msg.operation    = \"updateOne\";\n    msg.payload = [\n        { id: d.id },\n        { $set: {\n            remoteCatalogue:        d.remoteCatalogue || \"\",\n            remoteSchema:           d.remoteSchema || \"\",\n            remoteSchemaMeta:       d.remoteSchemaMeta || \"\",\n            transformationStrategy: d.transformationStrategy || \"Deterministic RDF\",\n            promptsCount:           d.promptsCount || 0,\n            shaclCount:             d.shaclCount || 0,\n            updatedAt:              now\n        }}\n    ];\n} else {\n    const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\n    let rnd = '';\n    for (let i = 0; i < 6; i++) rnd += chars[Math.floor(Math.random() * chars.length)];\n    const id = 'map-' + Date.now().toString(36) + rnd;\n    msg._mappingId = id;\n    msg._isNew     = true;\n    const mapping = {\n        id:                     id,\n        remoteCatalogue:        d.remoteCatalogue || \"\",\n        remoteSchema:           d.remoteSchema || \"\",\n        remoteSchemaMeta:       d.remoteSchemaMeta || \"\",\n        transformationStrategy: d.transformationStrategy || \"Deterministic RDF\",\n        promptsCount:           d.promptsCount || 0,\n        shaclCount:             d.shaclCount || 0,\n        createdAt:              now,\n        updatedAt:              now\n    };\n    msg._mappingData = mapping;\n    msg.collection   = \"sr_mappings\";\n    msg.operation    = \"insertOne\";\n    msg.payload      = mapping;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1185,
    "y": 3460,
    "wires": [
      [
        "ee01000000000041"
      ]
    ]
  },
  {
    "id": "ee01000000000041",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Upsert Mapping",
    "x": 1435,
    "y": 3460,
    "wires": [
      [
        "ee01000000000042"
      ]
    ]
  },
  {
    "id": "ee01000000000042",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format saveMapping Response",
    "func": "const d   = msg._mappingData || {};\nconst now = new Date().toISOString().slice(0, 10);\nconst mapping = {\n    id:                     msg._mappingId,\n    remoteCatalogue:        d.remoteCatalogue || \"\",\n    remoteSchema:           d.remoteSchema || \"\",\n    remoteSchemaMeta:       d.remoteSchemaMeta || \"\",\n    transformationStrategy: d.transformationStrategy || \"Deterministic RDF\",\n    promptsCount:           d.promptsCount || 0,\n    shaclCount:             d.shaclCount || 0,\n    createdAt:              d.createdAt || now,\n    updatedAt:              now\n};\nmsg.response = {\n    action:    \"saveMapping\",\n    status:    \"success\",\n    mappingId: msg._mappingId,\n    isNew:     !!msg._isNew,\n    mapping:   mapping\n};\ndelete msg._mappingId;\ndelete msg._isNew;\ndelete msg._mappingData;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1715,
    "y": 3460,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "ee01000000000005",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 25. LIST MAPPINGS ──────────────────────────────────────",
    "info": "",
    "x": 805,
    "y": 3520,
    "wires": []
  },
  {
    "id": "ee01000000000050",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare Find All Mappings",
    "func": "msg.collection = \"sr_mappings\";\nmsg.operation  = \"find\";\nmsg.payload    = [{}, { projection: { _id: 0 } }];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1165,
    "y": 3560,
    "wires": [
      [
        "ee01000000000051"
      ]
    ]
  },
  {
    "id": "ee01000000000051",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Find Mappings",
    "x": 1435,
    "y": 3560,
    "wires": [
      [
        "ee01000000000052"
      ]
    ]
  },
  {
    "id": "ee01000000000052",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format listMappings Response",
    "func": "msg.response = {\n    action:   \"listMappings\",\n    status:   \"success\",\n    mappings: Array.isArray(msg.payload) ? msg.payload : []\n};\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1715,
    "y": 3560,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "ee01000000000006",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "── 26. DELETE MAPPING ─────────────────────────────────────",
    "info": "",
    "x": 805,
    "y": 3620,
    "wires": []
  },
  {
    "id": "ee01000000000060",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Prepare deleteOne (mapping)",
    "func": "const d = msg.data || {};\nmsg._mappingId  = d.mappingId;\nmsg.collection  = \"sr_mappings\";\nmsg.operation   = \"deleteOne\";\nmsg.payload     = { id: d.mappingId };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1175,
    "y": 3660,
    "wires": [
      [
        "ee01000000000061"
      ]
    ]
  },
  {
    "id": "ee01000000000061",
    "type": "mongodb4",
    "z": "aa01000000000000",
    "clientNode": "b991ffcd8f6c360a",
    "mode": "collection",
    "collection": "",
    "operation": "",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "DB: Delete Mapping",
    "x": 1435,
    "y": 3660,
    "wires": [
      [
        "ee01000000000062"
      ]
    ]
  },
  {
    "id": "ee01000000000062",
    "type": "function",
    "z": "aa01000000000000",
    "name": "Format deleteMapping Response",
    "func": "msg.response = {\n    action:    \"deleteMapping\",\n    status:    \"success\",\n    mappingId: msg._mappingId\n};\ndelete msg._mappingId;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1715,
    "y": 3660,
    "wires": [
      [
        "bb010000000000f0"
      ]
    ]
  },
  {
    "id": "02e79a37e339b305",
    "type": "link in",
    "z": "aa01000000000000",
    "name": "dcm-registry",
    "links": [
      "ff01000000000035"
    ],
    "x": 185,
    "y": 240,
    "wires": [
      [
        "aa01000000000005"
      ]
    ]
  },
  {
    "id": "73931adcc1392022",
    "type": "comment",
    "z": "aa01000000000000",
    "name": "══ SETUP: Double-click the flow tab → set OPENAI_API_KEY env var ══",
    "info": "WHERE TO PUT YOUR OPENAI API KEY:\n\n1. Double-click the tab name 'DCM-SchemaRegistry' at the top\n2. Open 'Environment Variables'\n3. Replace PUT_OPENAI_API_KEY_HERE with your real key\n4. Click Done → Deploy\n\nAll OpenAI-dependent operations (enhance prompt, code generation)\nuse real http request nodes that POST to\nhttps://api.openai.com/v1/chat/completions.\n\nFunction nodes are used ONLY for:\n  – payload shaping / request preparation\n  – response parsing\n  – validation and status updates\n  – MongoDB query preparation\n  – dry-run code execution",
    "x": 300,
    "y": 140,
    "wires": []
  },
  {
    "id": "affbaa0602ac3a95",
    "type": "inject",
    "z": "aa01000000000000",
    "name": "Init Config on Deploy",
    "props": [
      {
        "p": "payload",
        "v": "init",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "",
    "x": 782.5,
    "y": 140,
    "wires": [
      [
        "7b5c596ada751f96"
      ]
    ]
  },
  {
    "id": "7b5c596ada751f96",
    "type": "function",
    "z": "aa01000000000000",
    "name": "▶ Store OpenAI Config in Flow Context",
    "func": "const apiKey = env.get(\"OPENAI_API_KEY\") || \"\";\nconst model  = \"gpt-4o\";\n\nflow.set(\"openai_api_key\", apiKey);\nflow.set(\"openai_model\", model);\n\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: \"API key set locally\"\n});\n\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1110,
    "y": 140,
    "wires": [
      []
    ]
  }
]