backend/src/M3_DCM-Harvester_flow.json
[
    {
        "id": "bb03000000000000",
        "type": "tab",
        "label": "M3_DCM-Harvester",
        "disabled": false,
        "info": "Backend flows for Asset Crawler + Mapper (Harvester).\n\nMongoDB collections:\n  hv_runs         – harvest run records (config, status, results, embedded logs + provenance)\n  lc_assets       – local catalogue assets (written during harvest, owned by M5_DCM-LocalCatalogue)\n  cr_catalogues   – catalogue registry (read-only, shared)\n\nOperations:\n  - getHarvestCatalogues (reads from cr_catalogues)\n  - startHarvest (creates run, generates assets into lc_assets, stores log + provenance)\n  - listHarvestRuns (find all runs)\n  - getHarvestRunDetail (find one run)\n  - listHarvestLogs (extract logs from runs)\n  - listHarvestProvenance (extract provenance from runs)\n  - pauseHarvest / resumeHarvest / cancelHarvest (update run status)\n\nSRS Requirements covered:\n  FR-ACM-01: Initiating a Harvest\n  FR-ACM-02: Harvest Scope\n  FR-ACM-03: Lifecycle of Imported Assets\n  FR-ACM-04: Linked Assets\n  FR-ACM-05: Crawling References\n\nAll responses are sent back to the Dashboard via link-out → dashboard-linkin.",
        "env": []
    },
    {
        "id": "b991ffcd8f6c360a",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb+srv",
        "hostname": "db-mongodb-leanea-f9f0367b.mongo.ondigitalocean.com",
        "port": "",
        "dbName": "PartnerOnboarding",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": true,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "bb03000000000100",
        "type": "tls-config",
        "name": "Allow self-signed certs",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "bb03000000000001",
        "type": "comment",
        "z": "bb03000000000000",
        "name": "══ Asset Crawler + Mapper (Harvester) Backend ══",
        "info": "Handles all Harvest operations per SRS FR-ACM-01 through FR-ACM-05.\nResponses go back to Dashboard uibuilder via link-out → dashboard-linkin.",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "bb03000000000002",
        "type": "link in",
        "z": "bb03000000000000",
        "name": "harvest-in",
        "links": [
            "ff01000000000033"
        ],
        "x": 115,
        "y": 300,
        "wires": [
            [
                "bb03000000000003"
            ]
        ]
    },
    {
        "id": "bb03000000000003",
        "type": "switch",
        "z": "bb03000000000000",
        "name": "route by msg.type",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "getHarvestCatalogues",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "startHarvest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "listHarvestRuns",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getHarvestRunDetail",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "listHarvestLogs",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "listHarvestProvenance",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pauseHarvest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resumeHarvest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cancelHarvest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "clearHarvestHistory",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "bb03000000000010"
            ],
            [
                "cr03m3000010"
            ],
            [
                "bb03000000000030"
            ],
            [
                "bb03000000000040"
            ],
            [
                "bb03000000000060"
            ],
            [
                "bb03000000000070"
            ],
            [
                "bb03000000000080"
            ],
            [
                "bb03000000000081"
            ],
            [
                "bb03000000000082"
            ],
            [
                "cl05m3000010"
            ]
        ]
    },
    {
        "id": "bb03000000000099",
        "type": "link out",
        "z": "bb03000000000000",
        "name": "→ Dashboard (uibuilder response)",
        "mode": "link",
        "links": [
            "c48570326bcd6b3d"
        ],
        "x": 1375,
        "y": 300,
        "wires": []
    },
    {
        "id": "bb03000000000010",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Get Harvest Catalogues (from cr_catalogues)",
        "func": "msg.operation = \"find\";\nmsg.collection = \"cr_catalogues\";\nmsg.payload = [\n    {},\n    { projection: { catalog: 1, uniqueId: 1, _id: 0 } }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 100,
        "wires": [
            [
                "bb03000000000011"
            ]
        ]
    },
    {
        "id": "bb03000000000011",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 100,
        "wires": [
            [
                "bb03000000000012"
            ]
        ]
    },
    {
        "id": "bb03000000000012",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: getHarvestCatalogues",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst catalogs = docs.map(d => {\n    const c = d.catalog || d;\n    return {\n        uniqueId: d.uniqueId || c.catalogId || d._id,\n        catalogId: c.catalogId || d.uniqueId,\n        catalogName: c.catalogName || c.catalogId || '-',\n        owner: c.owner || '-',\n        strategy: c.strategy || 'none',\n        baseEndpoint: c.baseEndpoint || '',\n        enabled: c.enabled !== false,\n        protocol: c.protocol || 'Query interface',\n        updatedAt: c.updatedAt || '',\n        auth: c.auth || 'none',\n        authLoginEndpoint: c.authLoginEndpoint || '',\n        authUsername: c.authUsername || '',\n        authPassword: c.authPassword || '',\n        authPayloadTemplate: c.authPayloadTemplate || '',\n        authTokenPath: c.authTokenPath || 'token',\n        authTokenInjection: c.authTokenInjection || 'body',\n        authTokenFieldName: c.authTokenFieldName || 'token',\n        authTokenPrefix: c.authTokenPrefix || '',\n        authStaticToken: c.authStaticToken || '',\n        authApiKey: c.authApiKey || '',\n        authApiKeyHeader: c.authApiKeyHeader || 'X-API-Key',\n        responseRootPath: c.responseRootPath || '',\n        responseAssetIdField: c.responseAssetIdField || '',\n        responseAssetNameField: c.responseAssetNameField || '',\n        responseAssetTypeField: c.responseAssetTypeField || '',\n        typeMapping: Array.isArray(c.typeMapping) ? c.typeMapping : [],\n        sourceData: c.sourceData || null,\n        sourceFileName: c.sourceFileName || '',\n        mimeType: c.mimeType || ''\n    };\n});\nmsg.response = {\n    action: \"getHarvestCatalogues\",\n    status: \"success\",\n    catalogs: catalogs\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 100,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000020",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Start Harvest — build run + lc_assets",
        "func": "const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nlet rnd = '';\nfor (let i = 0; i < 12; i++) rnd += chars[Math.floor(Math.random() * chars.length)];\nconst runId = 'run-' + Date.now().toString(36) + rnd;\n\n// ── FR-CR-04: JSON Field Mapping helpers ─────────────────────────────────\nfunction fmGetPath(obj, p) {\n    if (!p || obj == null) return undefined;\n\n    // Strategy 1 — exact match: the path *is* a key on this object.\n    if (Object.prototype.hasOwnProperty.call(obj, p)) return obj[p];\n\n    // Strategy 2 — greedy walk that prefers the LONGEST matching key prefix\n    // at every level. Naturally handles keys that themselves contain dots.\n    function walk(o, rem) {\n        if (rem === '' || rem == null) return o;\n        if (o == null || typeof o !== 'object') return undefined;\n        if (Object.prototype.hasOwnProperty.call(o, rem)) return o[rem];\n        const keys = Object.keys(o).slice().sort((a, b) => b.length - a.length);\n        for (const k of keys) {\n            if (rem.startsWith(k + '.')) {\n                const v = walk(o[k], rem.slice(k.length + 1));\n                if (v !== undefined) return v;\n            }\n        }\n        return undefined;\n    }\n    const greedy = walk(obj, p);\n    if (greedy !== undefined) return greedy;\n\n    // Strategy 3 — backward compatibility with the v35 escape-aware syntax.\n    const parts = []; let cur = ''; let esc = false;\n    for (let i = 0; i < p.length; i++) {\n        const ch = p[i];\n        if (esc) { cur += ch; esc = false; continue; }\n        if (ch === '\\\\') { esc = true; continue; }\n        if (ch === '.') { parts.push(cur); cur = ''; continue; }\n        cur += ch;\n    }\n    if (cur) parts.push(cur);\n    let v = obj;\n    for (const k of parts) {\n        if (v == null || typeof v !== 'object') return undefined;\n        v = v[k];\n    }\n    return v;\n}\nfunction fmSetPath(obj, p, value) {\n    if (!p) return;\n    const parts = p.split('.');\n    let cur = obj;\n    for (let i = 0; i < parts.length - 1; i++) {\n        const k = parts[i];\n        if (cur[k] == null || typeof cur[k] !== 'object') cur[k] = {};\n        cur = cur[k];\n    }\n    cur[parts[parts.length - 1]] = value;\n}\nconst FM_TRANSFORMS = {\n    identity: v => v,\n    parseAddress: v => {\n        if (v == null) return null;\n        const s = String(v).trim();\n        let m = s.match(/^(.+?),\\s*(\\d{4,5})\\s+(.+?),\\s*(.+)$/);\n        if (m) return { streetAddress: m[1].trim(), postalCode: m[2].trim(), addressLocality: m[3].trim(), addressCountry: m[4].trim() };\n        m = s.match(/^(.+?),\\s*(\\d{4,5})\\s+(.+)$/);\n        if (m) return { streetAddress: m[1].trim(), postalCode: m[2].trim(), addressLocality: m[3].trim() };\n        return { streetAddress: s };\n    },\n    split:     (v, sep) => v == null ? [] : String(v).split(sep || ','),\n    concat:    (v, sep, ...rest) => [v, ...rest].filter(x => x != null).join(sep || ' '),\n    lower:     v => v == null ? v : String(v).toLowerCase(),\n    upper:     v => v == null ? v : String(v).toUpperCase(),\n    trim:      v => v == null ? v : String(v).trim(),\n    toNumber:  v => v == null ? null : Number(v),\n    toBoolean: v => Boolean(v),\n    nonEmpty:  v => (v != null && v !== '') ? v : undefined\n};\nfunction fmApplyTransform(value, spec) {\n    if (!spec) return value;\n    if (typeof spec === 'string') {\n        const fn = FM_TRANSFORMS[spec];\n        return fn ? fn(value) : value;\n    }\n    if (typeof spec === 'object' && spec.fn) {\n        const fn = FM_TRANSFORMS[spec.fn];\n        return fn ? fn(value, ...(spec.args || [])) : value;\n    }\n    return value;\n}\nfunction fmFindMapping(catId, catName, mappings) {\n    if (!Array.isArray(mappings)) return null;\n    return mappings.find(m =>\n        m && m.transformationStrategy === 'JSON Field Mapping' &&\n        (m.remoteCatalogueId === catId || m.remoteCatalogue === catName)\n    ) || null;\n}\nfunction fmTransform(entry, mapping, lcId) {\n    const out = {};\n    const rows = Array.isArray(mapping.fieldMappings) ? mapping.fieldMappings : [];\n    for (const row of rows) {\n        if (!row || !row.from || !row.to) continue;\n        const raw = fmGetPath(entry, row.from);\n        const v = fmApplyTransform(raw, row.transform);\n        if (v === undefined) continue;\n        fmSetPath(out, row.to, v);\n    }\n    return {\n        '@context': mapping.jsonLdContext || 'https://registry.lab.gaia-x.eu/development/context/development',\n        '@type':    mapping.targetClass   || '',\n        '@id':      'did:web:dcm.local:' + lcId,\n        ...out\n    };\n}\nconst _fieldMappings = Array.isArray(msg._fieldMappings) ? msg._fieldMappings : [];\n// ── /FR-CR-04 helpers ─────────────────────────────────────────────────────\n\n\nconst catalogues = msg.data?.catalogues || [];\nconst catNames = catalogues.map(c => c.catalogName).filter(Boolean);\nconst now = new Date();\nconst nowISO = now.toISOString();\nconst nowShort = nowISO.replace('T', ' ').slice(0, 19);\n\nfunction resolvePath(obj, path) {\n    if (!path || !obj) return obj;\n    const parts = path.split('.');\n    let cur = obj;\n    for (const p of parts) {\n        if (cur == null || typeof cur !== 'object') return undefined;\n        cur = cur[p];\n    }\n    return cur;\n}\n\nfunction extractEntries(data, rootPath) {\n    if (!data) return [];\n    if (rootPath) {\n        const resolved = resolvePath(data, rootPath);\n        if (Array.isArray(resolved)) return resolved;\n        if (resolved && typeof resolved === 'object') return [resolved];\n    }\n    if (Array.isArray(data)) return data;\n    if (data['dcat:dataset'] && Array.isArray(data['dcat:dataset'])) return data['dcat:dataset'];\n    if (data.dataset && Array.isArray(data.dataset)) return data.dataset;\n    if (data.datasets && Array.isArray(data.datasets)) return data.datasets;\n    if (data.data && Array.isArray(data.data)) return data.data;\n    if (data.results && Array.isArray(data.results)) return data.results;\n    if (data.result && data.result.results && Array.isArray(data.result.results)) return data.result.results;\n    if (data.items && Array.isArray(data.items)) return data.items;\n    if (data.records && Array.isArray(data.records)) return data.records;\n    if (data.entries && Array.isArray(data.entries)) return data.entries;\n    if (data.assets && Array.isArray(data.assets)) return data.assets;\n    if (data.catalogs && Array.isArray(data.catalogs)) return data.catalogs;\n    if (data.title || data.name || data.identifier || data['@type']) return [data];\n    if (data._id || data.requestId != null || data.companyDetails) return [data];\n    const skipKeys = ['auditInfo','approveInfo','decisionHistory','errors','warnings','logs'];\n    for (const key of Object.keys(data)) {\n        if (Array.isArray(data[key]) && data[key].length > 0 && typeof data[key][0] === 'object' && !skipKeys.includes(key)) return data[key];\n    }\n    return [data];\n}\n\nfunction extractName(entry, nameField) {\n    if (!entry || typeof entry !== 'object') return 'Unknown Asset';\n    if (nameField) {\n        const v = resolvePath(entry, nameField);\n        if (v && typeof v === 'string' && v.trim()) return v;\n    }\n    const cands = ['title','name','catalogName','label','displayName','companyName','organisationName','organization','fullName','shortName','legalName','tradingName','firma'];\n    for (const f of cands) { if (entry[f] && typeof entry[f] === 'string' && entry[f].trim()) return entry[f]; }\n\n    // companyDetails (legacy)\n    const cd = entry.companyDetails;\n    if (cd && typeof cd === 'object') {\n        if (cd['A.1.1.1'] && typeof cd['A.1.1.1'] === 'string') return cd['A.1.1.1'];\n        if (cd['A.2.1.1'] && typeof cd['A.2.1.1'] === 'string') return cd['A.2.1.1'];\n        for (const f of cands) { if (cd[f] && typeof cd[f] === 'string' && cd[f].trim()) return cd[f]; }\n    }\n\n    // Trusted Cloud-style: A.1.Anbieter.A.1.1.<varies>.A.1.1.1\n    function findFirstByKey(node, targetKey, depth) {\n        if (depth > 6 || node == null || typeof node !== 'object') return null;\n        if (Object.prototype.hasOwnProperty.call(node, targetKey)) {\n            const v = node[targetKey];\n            if (typeof v === 'string' && v.trim()) return v;\n        }\n        for (const k of Object.keys(node)) {\n            const child = node[k];\n            if (child && typeof child === 'object') {\n                const found = findFirstByKey(child, targetKey, depth + 1);\n                if (found) return found;\n            }\n        }\n        return null;\n    }\n    const tcCompany = findFirstByKey(entry, 'A.1.1.1', 0);\n    if (tcCompany) return tcCompany;\n    const tcService = findFirstByKey(entry, 'A.2.1.1', 0);\n    if (tcService) return tcService;\n\n    if (entry.createdBy && entry.createdBy.fullName && typeof entry.createdBy.fullName === 'string') return entry.createdBy.fullName;\n    for (const key of Object.keys(entry)) {\n        const nested = entry[key];\n        if (nested && typeof nested === 'object' && !Array.isArray(nested)) {\n            for (const f of cands) { if (nested[f] && typeof nested[f] === 'string' && nested[f].trim()) return nested[f]; }\n        }\n    }\n    for (const key of Object.keys(entry)) {\n        const val = entry[key];\n        if (typeof val === 'string' && val.length > 2 && val.length < 200 && !/^[\\d\\-:.TZ]+$/.test(val) && !/^[0-9a-f]{24}$/i.test(val) && !key.startsWith('_')) return val;\n    }\n    return 'Unknown Asset';\n}\n\nfunction extractId(entry, idField) {\n    if (idField) { const v = resolvePath(entry, idField); if (v) return String(v); }\n    return String(entry.identifier || entry.id || entry._id || entry.requestId || entry.uuid || ('remote-' + Math.random().toString(36).slice(2, 10)));\n}\n\nfunction extractType(entry, typeField) {\n    if (typeField) { const v = resolvePath(entry, typeField); if (v) return String(v); }\n    const cd = entry.companyDetails;\n    return String(entry['@type'] || entry.type || entry.assetType || (cd && cd['A.1.1.0']) || (cd && cd['A.2.1.4']) || 'dcat:Dataset');\n}\n\n// ── FR-ACM-05: Crawling Reference helpers ─────────────────────────────────────\nconst REFERENCE_FIELDS = [\n  'dcat:qualifiedRelation',\n  'dcat:Relationship',\n  'dcat:source',\n  'prov:wasDerivedFrom',\n  'dct:references',\n  'dct:relation',\n  'qualifiedRelation',\n  'relation',\n  'references',\n  'source'\n];\n\nfunction normalizeRefUri(v) {\n  if (v == null) return null;\n  if (typeof v === 'string') {\n    const s = v.trim();\n    if (!s) return null;\n    if (/^https?:\\/\\//i.test(s) || /^did:[a-z0-9]+:/i.test(s) || /^urn:/i.test(s)) return s;\n    return null;\n  }\n  if (typeof v === 'object') {\n    if (v['@id']) return normalizeRefUri(v['@id']);\n    if (v.href) return normalizeRefUri(v.href);\n    if (v.id && typeof v.id === 'string') return normalizeRefUri(v.id);\n    if (v.hasTarget) return normalizeRefUri(v.hasTarget);\n    if (v.target) return normalizeRefUri(v.target);\n  }\n  return null;\n}\n\nfunction extractReferencesFromEntry(entry) {\n  if (!entry || typeof entry !== 'object') return [];\n  const refs = [];\n  for (const field of REFERENCE_FIELDS) {\n    const v = entry[field];\n    if (v == null) continue;\n    const arr = Array.isArray(v) ? v : [v];\n    for (const item of arr) {\n      const uri = normalizeRefUri(item);\n      if (uri) refs.push({ field: field, uri: uri });\n    }\n  }\n  if (Array.isArray(entry.links)) {\n    for (const l of entry.links) {\n      if (l && typeof l.href === 'string') {\n        const uri = normalizeRefUri(l.href);\n        if (uri) refs.push({ field: 'links', uri: uri, rel: l.rel || '' });\n      }\n    }\n  }\n  return refs;\n}\n\nfunction entryMatchesUri(entry, uri) {\n  if (!entry || typeof entry !== 'object' || !uri) return false;\n  const candidates = [\n    entry['@id'], entry.id, entry.identifier, entry._id,\n    entry.uri, entry.url, entry.did, entry.canonicalUri\n  ].filter(Boolean).map(String);\n  return candidates.indexOf(uri) !== -1;\n}\n// ── /FR-ACM-05 helpers ────────────────────────────────────────────────────────\n\nconst provenance = [];\nconst logs = [];\nconst assetDetails = [];\nconst lcDocs = [];\nlet assetCounter = 0;\n\nfor (const cat of catalogues) {\n    const catName = cat.catalogName || cat.uniqueId || 'Unknown';\n    const catId = cat.uniqueId || cat.catalogId || '';\n    const isCrawlOnly = cat._crawlOnly === true;\n    if (isCrawlOnly) {\n        logs.push({ runId, assetId: '', level: 'info', message: 'Catalogue tagged crawl-only, skipping full import: ' + catName, catalogue: catName, timestamp: nowISO });\n        continue;\n    }\n    const strategy = cat.strategy || 'none';\n    const rootPath = cat.responseRootPath || '';\n    const idField = cat.responseAssetIdField || '';\n    const nameField = cat.responseAssetNameField || '';\n    const typeField = cat.responseAssetTypeField || '';\n    const typeMapping = Array.isArray(cat.typeMapping) ? cat.typeMapping : [];\n    const sourceData = cat.sourceData || null;\n    let entries = [];\n    if (sourceData) {\n        entries = extractEntries(sourceData, rootPath);\n        logs.push({ runId, assetId: '', level: 'info', message: 'Extracted ' + entries.length + ' entries from sourceData', catalogue: catName, timestamp: nowISO });\n    }\n\n    for (let i = 0; i < entries.length; i++) {\n        assetCounter++;\n        const entry = entries[i];\n        if (!entry || typeof entry !== 'object') continue;\n        const assetId = 'asset-' + runId + '-' + assetCounter;\n        const lcId = 'lc-' + runId + '-' + assetCounter;\n        const rawId = extractId(entry, idField);\n        const assetName = extractName(entry, nameField);\n        const assetType = extractType(entry, typeField);\n        const mapRow = typeMapping.find(m => m && m.remoteType === assetType);\n        const localTypeId = mapRow && mapRow.localTypeId ? String(mapRow.localTypeId) : '';\n        const domain = entry.domain || entry.theme || entry.category || catName;\n\n        assetDetails.push({ assetId: assetId, title: assetName, catalogue: catName, status: 'success', strategy: strategy, sourceId: rawId, localTypeId: localTypeId });\n        lcDocs.push({\n            uniqueId: lcId,\n            id: lcId,\n            assets: assetName,\n            title: assetName,\n            type: assetType,\n            localTypeId: localTypeId,\n            name: catName,\n            domain: domain,\n            updated: nowShort,\n            integrationStatus: 'Active',\n            sourceCatalogue: catName,\n            sourceCatalogueId: catId,\n            harvestRunId: runId,\n            remoteAssetId: rawId,\n            originalForm: entry,\n            transformedForm: (function(){\n                // ── FR-CR-04: apply JSON field mapping if configured ──\n                const _m = fmFindMapping(catId, catName, _fieldMappings);\n                if (!_m) return null;\n                try { return fmTransform(entry, _m, lcId); }\n                catch (_e) {\n                    logs.push({ runId: runId, assetId: assetId, level: 'warn',\n                        message: 'JSON field mapping failed: ' + _e.message,\n                        catalogue: catName, timestamp: nowISO });\n                    return null;\n                }\n            })(),\n            sourceAssetId: rawId,\n            harvestedAt: nowISO,\n            createdAt: nowISO\n        });\n        provenance.push({ runId: runId, assetId: assetId, title: assetName, catalogue: catName, action: 'imported', strategy: strategy, timestamp: nowISO, status: 'success', sourceId: rawId });\n        logs.push({ runId: runId, assetId: assetId, level: 'info', message: 'Imported: ' + assetName, catalogue: catName, timestamp: nowISO });\n    }\n\n    logs.push({ runId: runId, assetId: '', level: 'info', message: 'Harvest completed for ' + catName + ': ' + entries.length + ' entries processed', catalogue: catName, timestamp: nowISO });\n}\n\n// ── FR-ACM-05: Crawl references (BFS, max depth 3, cycle detection) ──────────\nconst resolveReferences = !!(msg.data?.scope && msg.data.scope.resolveReferences);\nlet crawlStats = { enabled: resolveReferences, referencesFound: 0, crawledAssets: 0, unresolved: 0, maxDepthReached: 0 };\n\nif (resolveReferences) {\n    const crawlIndex = [];\n    for (const cat of catalogues) {\n        const catName = cat.catalogName || cat.uniqueId || 'Unknown';\n        const catId = cat.uniqueId || cat.catalogId || '';\n        const rootPath = cat.responseRootPath || '';\n        const entries = cat.sourceData ? extractEntries(cat.sourceData, rootPath) : [];\n        for (const entry of entries) {\n            crawlIndex.push({\n                entry,\n                catName, catId,\n                strategy: cat.strategy || 'none',\n                idField: cat.responseAssetIdField || '',\n                nameField: cat.responseAssetNameField || '',\n                typeField: cat.responseAssetTypeField || '',\n                typeMapping: Array.isArray(cat.typeMapping) ? cat.typeMapping : [],\n                crawlOnly: cat._crawlOnly === true\n            });\n        }\n    }\n\n    const MAX_DEPTH = 3;\n    const visitedUris = new Set();\n    const visitedAssetIds = new Set(lcDocs.map(d => d.id));\n\n    const queue = [];\n    for (const lcDoc of lcDocs) {\n        queue.push({ entry: lcDoc.originalForm, lcId: lcDoc.id, depth: 1 });\n    }\n\n    while (queue.length > 0) {\n        const { entry, lcId, depth } = queue.shift();\n        if (depth > MAX_DEPTH) continue;\n        crawlStats.maxDepthReached = Math.max(crawlStats.maxDepthReached, depth);\n\n        const refs = extractReferencesFromEntry(entry);\n        for (const ref of refs) {\n            crawlStats.referencesFound++;\n            if (visitedUris.has(ref.uri)) continue;\n            visitedUris.add(ref.uri);\n\n            const hit = crawlIndex.find(row => entryMatchesUri(row.entry, ref.uri));\n            if (!hit) {\n                crawlStats.unresolved++;\n                provenance.push({\n                    runId, assetId: lcId, action: 'crawl-unresolved',\n                    referenceUri: ref.uri, referenceField: ref.field,\n                    timestamp: nowISO, status: 'warning',\n                    message: 'Reference target not found in any supplied catalogue'\n                });\n                logs.push({\n                    runId, assetId: lcId, level: 'warn',\n                    message: 'Unresolved cross-catalogue reference: ' + ref.uri + ' (field=' + ref.field + ')',\n                    catalogue: '', timestamp: nowISO\n                });\n                continue;\n            }\n\n            assetCounter++;\n            const newAssetId = 'asset-' + runId + '-' + assetCounter;\n            const newLcId = 'lc-' + runId + '-' + assetCounter;\n            if (visitedAssetIds.has(newLcId)) continue;\n            visitedAssetIds.add(newLcId);\n\n            const rawId = extractId(hit.entry, hit.idField);\n            const assetName = extractName(hit.entry, hit.nameField);\n            const assetType = extractType(hit.entry, hit.typeField);\n            const mapRow = hit.typeMapping.find(m => m && m.remoteType === assetType);\n            const localTypeId = mapRow && mapRow.localTypeId ? String(mapRow.localTypeId) : '';\n            const domain = hit.entry.domain || hit.entry.theme || hit.entry.category || hit.catName;\n\n            assetDetails.push({ assetId: newAssetId, title: assetName, catalogue: hit.catName, status: 'success', strategy: hit.strategy, sourceId: rawId, localTypeId: localTypeId, crawled: true });\n            const newLcDoc = {\n                uniqueId: newLcId,\n                id: newLcId,\n                assets: assetName,\n                title: assetName,\n                type: assetType,\n                localTypeId: localTypeId,\n                name: hit.catName,\n                domain: domain,\n                updated: nowShort,\n                integrationStatus: 'Active',\n                sourceCatalogue: hit.catName,\n                sourceCatalogueId: hit.catId,\n                harvestRunId: runId,\n                remoteAssetId: rawId,\n                originalForm: hit.entry,\n                transformedForm: (function(){\n                    // ── FR-CR-04: apply JSON field mapping if configured (crawl) ──\n                    const _m = fmFindMapping(hit.catId, hit.catName, _fieldMappings);\n                    if (!_m) return null;\n                    try { return fmTransform(hit.entry, _m, newLcId); }\n                    catch (_e) {\n                        logs.push({ runId: runId, assetId: newAssetId, level: 'warn',\n                            message: 'JSON field mapping failed (crawl): ' + _e.message,\n                            catalogue: hit.catName, timestamp: nowISO });\n                        return null;\n                    }\n                })(),\n                sourceAssetId: rawId,\n                harvestedAt: nowISO,\n                createdAt: nowISO,\n                crawledFrom: lcId,\n                crawlDepth: depth,\n                crawlReferenceUri: ref.uri,\n                crawlReferenceField: ref.field\n            };\n            lcDocs.push(newLcDoc);\n            provenance.push({ runId, assetId: newAssetId, title: assetName, catalogue: hit.catName, action: 'crawled', strategy: hit.strategy, timestamp: nowISO, status: 'success', sourceId: rawId, crawledFrom: lcId, crawlDepth: depth });\n            logs.push({ runId, assetId: newAssetId, level: 'info', message: 'Crawled (depth=' + depth + '): ' + assetName + ' from ' + hit.catName + ' (ref=' + ref.uri + ')', catalogue: hit.catName, timestamp: nowISO });\n            crawlStats.crawledAssets++;\n\n            if (depth + 1 <= MAX_DEPTH) {\n                queue.push({ entry: hit.entry, lcId: newLcId, depth: depth + 1 });\n            }\n        }\n    }\n\n    logs.push({ runId, assetId: '', level: 'info', message: 'Crawl complete: ' + crawlStats.crawledAssets + ' assets crawled, ' + crawlStats.unresolved + ' unresolved, max depth ' + crawlStats.maxDepthReached, catalogue: '', timestamp: nowISO });\n}\n// ── /FR-ACM-05 crawl block ───────────────────────────────────────────────────\n\nconst successCount = assetDetails.filter(a => a.status === 'success').length;\nconst errorCount = assetDetails.filter(a => a.status === 'error').length;\n\nconst run = {\n    uniqueId: runId,\n    catalogueName: catNames.filter(n => !catalogues.find(c => c.catalogName === n && c._crawlOnly)).join(', ') || 'Harvest',\n    scope: msg.data?.scope || {},\n    lifecycle: msg.data?.lifecycle || {},\n    status: 'completed',\n    startedAt: nowShort,\n    totalAssets: assetCounter,\n    assetsAdded: successCount,\n    successCount: successCount,\n    errorCount: errorCount,\n    result: errorCount === 0 ? 'Success' : 'Partial',\n    tool: 'Harvester',\n    provenance: provenance,\n    logs: logs,\n    assetIds: lcDocs.map(a => a.id),\n    crawlStats: crawlStats\n};\n\nconst msg1 = {\n    _harvestRun: run,\n    _lcDocs: lcDocs,\n    // Carry-forward prefetched lookups so the post-import AI hook (ai04m3000020) can use them.\n    _fieldMappings: msg._fieldMappings,\n    _aiPrompts: msg._aiPrompts,\n    _aiProviders: msg._aiProviders,\n    _apiMappings: msg._apiMappings,\n    operation: 'insertOne',\n    collection: 'hv_runs',\n    payload: run,\n    _msgid: msg._msgid,\n    _uib: msg._uib,\n    _socketId: msg._socketId\n};\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 200,
        "wires": [
            [
                "bb03000000000021"
            ]
        ]
    },
    {
        "id": "bb03000000000021",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "insert run",
        "x": 940,
        "y": 200,
        "wires": [
            [
                "bb03000000000022"
            ]
        ]
    },
    {
        "id": "bb03000000000022",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Insert lc_assets",
        "func": "const lcDocs = msg._lcDocs || [];\nif (lcDocs.length === 0) {\n    // No assets to insert, skip to response\n    return msg;\n}\nmsg.operation = 'insertMany';\nmsg.collection = 'lc_assets';\nmsg.payload = [lcDocs];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 200,
        "wires": [
            [
                "bb03000000000023"
            ]
        ]
    },
    {
        "id": "bb03000000000023",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "insert lc_assets",
        "x": 1340,
        "y": 200,
        "wires": [
            [
                "ai04m3000020"
            ]
        ]
    },
    {
        "id": "bb03000000000a10",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Build transformation audit records",
        "func": "const run = msg._harvestRun || {};\nconst docs = msg._lcDocs || [];\nconst now = new Date().toISOString();\nconst auditRows = docs.map(d => ({\n    id: 'ta-' + Date.now().toString(36) + Math.random().toString(36).slice(2, 8),\n    runId: run.id || '',\n    catalogueId: run.catalogueId || d.catalogueId || '',\n    catalogueName: run.catalogueName || d.catalogueName || '',\n    assetIdRemote: d.remoteId || d.identifier || d.id || '',\n    assetIdLocal: d.id || '',\n    strategy: run.strategy || d.transformationStrategy || 'Deterministic RDF',\n    promptName: run.promptName || '',\n    promptVersion: run.promptVersion || '',\n    namespaces: d.namespaces || '',\n    status: 'success',\n    durationMs: 0,\n    validationResult: 'pass',\n    errorCount: 0,\n    startedAt: run.startedAt || now,\n    completedAt: now\n}));\nif (auditRows.length > 0) {\n    msg._auditRowsWritten = auditRows.length;\n    msg.collection = 'dcm_transformation_audit';\n    msg.operation = 'insertMany';\n    msg.payload = [auditRows];\n    return [msg, null];\n}\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 260,
        "wires": [
            [
                "bb03000000000a11"
            ],
            [
                "bb03000000000026"
            ]
        ]
    },
    {
        "id": "bb03000000000a11",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "DB: Insert Transformation Audit",
        "x": 1560,
        "y": 260,
        "wires": [
            [
                "bb03000000000026"
            ]
        ]
    },
    {
        "id": "bb03000000000026",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: startHarvest",
        "func": "const run = msg._harvestRun || {};\nconst lcDocs = msg._lcDocs || [];\ndelete msg._harvestRun;\ndelete msg._lcDocs;\n\nmsg.response = {\n    action: 'startHarvest',\n    status: 'success',\n    run: run,\n    allAssets: lcDocs,\n    allProvenance: run.provenance || [],\n    totalAssets: lcDocs.length,\n    totalRuns: 1\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 200,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000030",
        "type": "function",
        "z": "bb03000000000000",
        "name": "List Harvest Runs",
        "func": "msg.operation = 'find';\nmsg.collection = 'hv_runs';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 300,
        "wires": [
            [
                "bb03000000000031"
            ]
        ]
    },
    {
        "id": "bb03000000000031",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 300,
        "wires": [
            [
                "bb03000000000032"
            ]
        ]
    },
    {
        "id": "bb03000000000032",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: listHarvestRuns",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst runs = docs.map(d => {\n    const r = Object.assign({}, d);\n    delete r.provenance;\n    delete r.logs;\n    delete r.assets;\n    return r;\n});\nruns.sort((a, b) => (b.startedAt || '').localeCompare(a.startedAt || ''));\nmsg.response = {\n    action: 'listHarvestRuns',\n    status: 'success',\n    runs: runs\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 300,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000040",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Get Harvest Run Detail",
        "func": "msg.operation = 'findOne';\nmsg.collection = 'hv_runs';\nmsg.payload = { uniqueId: msg.data.runId };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 400,
        "wires": [
            [
                "bb03000000000041"
            ]
        ]
    },
    {
        "id": "bb03000000000041",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 400,
        "wires": [
            [
                "bb03000000000042"
            ]
        ]
    },
    {
        "id": "bb03000000000042",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: getHarvestRunDetail",
        "func": "const run = msg.payload || null;\nmsg.response = {\n    action: 'getHarvestRunDetail',\n    status: 'success',\n    run: run\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 400,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000060",
        "type": "function",
        "z": "bb03000000000000",
        "name": "List Harvest Logs",
        "func": "msg.operation = 'find';\nmsg.collection = 'hv_runs';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 500,
        "wires": [
            [
                "bb03000000000061"
            ]
        ]
    },
    {
        "id": "bb03000000000061",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 500,
        "wires": [
            [
                "bb03000000000062"
            ]
        ]
    },
    {
        "id": "bb03000000000062",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: listHarvestLogs — extract from runs",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst logs = [];\nfor (const d of docs) {\n    if (Array.isArray(d.logs)) {\n        for (const l of d.logs) logs.push(l);\n    }\n}\nmsg.response = {\n    action: 'listHarvestLogs',\n    status: 'success',\n    logs: logs\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 500,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000070",
        "type": "function",
        "z": "bb03000000000000",
        "name": "List Harvest Provenance",
        "func": "msg.operation = 'find';\nmsg.collection = 'hv_runs';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 600,
        "wires": [
            [
                "bb03000000000071"
            ]
        ]
    },
    {
        "id": "bb03000000000071",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 600,
        "wires": [
            [
                "bb03000000000072"
            ]
        ]
    },
    {
        "id": "bb03000000000072",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: listHarvestProvenance — extract from runs",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst provenance = [];\nfor (const d of docs) {\n    if (Array.isArray(d.provenance)) {\n        for (const p of d.provenance) provenance.push(p);\n    }\n}\nmsg.response = {\n    action: 'listHarvestProvenance',\n    status: 'success',\n    provenance: provenance\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 600,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000080",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Pause Harvest",
        "func": "msg.operation = 'updateOne';\nmsg.collection = 'hv_runs';\nmsg.payload = [\n    { uniqueId: msg.data.runId },\n    { $set: { status: 'paused' } }\n];\nmsg._action = 'pauseHarvest';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 700,
        "wires": [
            [
                "bb03000000000083"
            ]
        ]
    },
    {
        "id": "bb03000000000081",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Resume Harvest",
        "func": "msg.operation = 'updateOne';\nmsg.collection = 'hv_runs';\nmsg.payload = [\n    { uniqueId: msg.data.runId },\n    { $set: { status: 'running' } }\n];\nmsg._action = 'resumeHarvest';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 760,
        "wires": [
            [
                "bb03000000000083"
            ]
        ]
    },
    {
        "id": "bb03000000000082",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Cancel Harvest",
        "func": "msg.operation = 'updateOne';\nmsg.collection = 'hv_runs';\nmsg.payload = [\n    { uniqueId: msg.data.runId },\n    { $set: { status: 'cancelled' } }\n];\nmsg._action = 'cancelHarvest';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 820,
        "wires": [
            [
                "bb03000000000083"
            ]
        ]
    },
    {
        "id": "bb03000000000083",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 760,
        "wires": [
            [
                "bb03000000000084"
            ]
        ]
    },
    {
        "id": "bb03000000000084",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: pause/resume/cancel",
        "func": "msg.response = {\n    action: msg._action || 'harvestControl',\n    status: 'success'\n};\ndelete msg._action;\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 760,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000024",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Resolve API sources",
        "func": "// FR-CR-03: consult cr_api_mappings (loaded into msg._apiMappings by prefetch) for by-type harvests; fallback to existing logic if no mapping\nvar catalogues = (msg.data && msg.data.catalogues) ? msg.data.catalogues : [];\nvar queue = [];\n\nfor (var i = 0; i < catalogues.length; i++) {\n    var cat = catalogues[i];\n    if (cat.sourceData) continue;\n\n    var endpoint = cat.baseEndpoint || '';\n    if (!endpoint) continue;\n\n    var authType = cat.auth || 'none';\n\n    if (authType === 'token-login' && cat.authLoginEndpoint) {\n        var body = (cat.authPayloadTemplate || '{\"email\":\"{{username}}\",\"password\":\"{{password}}\"}').replace('{{username}}', cat.authUsername || '').replace('{{password}}', cat.authPassword || '');\n        queue.push({ step: 'login', catIdx: i, url: cat.authLoginEndpoint, hdrs: { 'Content-Type': 'application/json', 'Accept': 'application/json' }, body: body, tokenPath: cat.authTokenPath || 'token', tokenPrefix: cat.authTokenPrefix || 'Bearer' });\n    }\n\n    var hdrs = { 'Accept': 'application/json', 'Content-Type': 'application/json' };\n    if (authType === 'static-token' && cat.authStaticToken) {\n        hdrs['Authorization'] = (cat.authTokenPrefix || 'Bearer') + ' ' + cat.authStaticToken;\n    } else if (authType === 'api-key' && cat.authApiKey) {\n        hdrs[cat.authApiKeyHeader || 'X-API-Key'] = cat.authApiKey;\n    }\n    // FR-CR-03: if scope is by-type and a mapping exists for (cat.uniqueId, type), use mapped request\n    var scope = (msg.data && msg.data.scope) || {};\n    var typeIds = Array.isArray(scope.types) ? scope.types : [];\n    var mappings = Array.isArray(msg._apiMappings) ? msg._apiMappings : [];\n    var catId = cat.uniqueId || cat.catalogId || cat.id || '';\n    var mapping = null;\n    if (typeIds.length > 0 && mappings.length > 0 && catId) {\n        for (var ti = 0; ti < typeIds.length && !mapping; ti++) {\n            mapping = mappings.find(function(m){ return m.catalogueId === catId && m.localTypeId === typeIds[ti] && (m.status === 'active' || !m.status); });\n        }\n    }\n    if (mapping && mapping.apiRequest) {\n        var apiReq = mapping.apiRequest || {};\n        var base = (endpoint || '').replace(/\\/$/, '');\n        var path = apiReq.pathTemplate || '';\n        var qparams = apiReq.queryParams || {};\n        var qsParts = [];\n        Object.keys(qparams).forEach(function(k){ qsParts.push(encodeURIComponent(k) + '=' + encodeURIComponent(qparams[k])); });\n        var qs = qsParts.join('&');\n        var mappedUrl = base + path + (qs ? (path.indexOf('?') >= 0 ? '&' : '?') + qs : '');\n        var mappedHdrs = Object.assign({}, hdrs, apiReq.headers || {});\n        var mappedMethod = apiReq.method || 'GET';\n        var mappedBody = apiReq.bodyTemplate ? (typeof apiReq.bodyTemplate === 'string' ? apiReq.bodyTemplate : JSON.stringify(apiReq.bodyTemplate)) : '';\n        queue.push({ step: 'data', catIdx: i, url: mappedUrl, hdrs: mappedHdrs, body: mappedBody, method: mappedMethod, catName: cat.catalogName || '', apiMappingId: mapping.uniqueId });\n    } else {\n        queue.push({ step: 'data', catIdx: i, url: endpoint, hdrs: hdrs, body: '', catName: cat.catalogName || '' });\n    }\n}\n\nif (queue.length === 0) {\n    return [null, msg];\n}\n\nmsg._fetchQueue = queue;\nmsg._fetchIdx = 0;\nvar first = queue[0];\nmsg.url = first.url;\nmsg.method = first.method || 'POST';\nmsg.headers = first.hdrs;\nmsg.payload = first.body || '';\nnode.warn('[harvest] Fetching API: ' + first.url);\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 150,
        "wires": [
            [
                "bb03000000000025"
            ],
            [
                "bb03000000000020"
            ]
        ]
    },
    {
        "id": "bb03000000000025",
        "type": "http request",
        "z": "bb03000000000000",
        "name": "Fetch Catalogue API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "bb03000000000100",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 940,
        "y": 120,
        "wires": [
            [
                "bb03000000000028"
            ]
        ]
    },
    {
        "id": "bb03000000000028",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Handle API response + loop",
        "func": "var queue = msg._fetchQueue || [];\nvar idx = msg._fetchIdx || 0;\nvar current = queue[idx];\nvar catalogues = (msg.data && msg.data.catalogues) ? msg.data.catalogues : [];\n\nfunction resolvePath(obj, path) {\n    if (!path || !obj) return obj;\n    var parts = path.split('.');\n    var cur = obj;\n    for (var pi = 0; pi < parts.length; pi++) {\n        if (cur == null || typeof cur !== 'object') return undefined;\n        cur = cur[parts[pi]];\n    }\n    return cur;\n}\n\nif (current) {\n    var status = msg.statusCode || 0;\n    var data = msg.payload;\n    if (typeof data === 'string') { try { data = JSON.parse(data); } catch(e) { data = null; } }\n\n    if (current.step === 'login') {\n        if (data && typeof data === 'object' && status >= 200 && status < 300) {\n            var token = resolvePath(data, current.tokenPath || 'token');\n            if (token) {\n                for (var j = idx + 1; j < queue.length; j++) {\n                    if (queue[j].catIdx === current.catIdx && queue[j].step === 'data') {\n                        queue[j].hdrs['Authorization'] = (current.tokenPrefix || 'Bearer') + ' ' + String(token);\n                        break;\n                    }\n                }\n            }\n        }\n        node.warn('[harvest] Login ' + (status >= 200 && status < 300 ? 'OK' : 'failed HTTP ' + status) + ' for catalogue idx ' + current.catIdx);\n    } else if (current.step === 'data') {\n        if (data && typeof data === 'object' && status >= 200 && status < 300) {\n            catalogues[current.catIdx].sourceData = data;\n            node.warn('[harvest] Fetched API data for ' + (current.catName || 'catalogue') + ' (HTTP ' + status + ')');\n        } else {\n            node.warn('[harvest] API fetch failed for ' + (current.catName || 'catalogue') + ' (HTTP ' + status + ')');\n        }\n    }\n}\n\nvar nextIdx = idx + 1;\nmsg._fetchIdx = nextIdx;\n\nif (nextIdx < queue.length) {\n    var next = queue[nextIdx];\n    msg.url = next.url;\n    msg.method = 'POST';\n    msg.headers = next.hdrs;\n    msg.payload = next.body || '';\n    node.warn('[harvest] Next fetch: ' + next.url);\n    return [msg, null];\n}\n\ndelete msg._fetchQueue;\ndelete msg._fetchIdx;\nmsg.payload = '';\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 120,
        "wires": [
            [
                "bb03000000000025"
            ],
            [
                "bb03000000000020"
            ]
        ]
    },
    {
        "id": "bb03000000000029",
        "type": "comment",
        "z": "bb03000000000000",
        "name": "API Fetch Loop: resolve remote API sources before harvest",
        "info": "When a catalogue has baseEndpoint but no sourceData,\nfetches data via HTTP POST before harvesting.\nSupports auth: none, static-token, api-key, token-login.",
        "x": 960,
        "y": 80,
        "wires": []
    },
    {
        "id": "bb03000000000h01",
        "type": "inject",
        "z": "bb03000000000000",
        "name": "heartbeat: Harvester",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 200,
        "y": 1900,
        "wires": [
            [
                "bb03000000000h02"
            ]
        ]
    },
    {
        "id": "bb03000000000h02",
        "type": "function",
        "z": "bb03000000000000",
        "name": "write heartbeat",
        "func": "msg.collection = \"dcm_heartbeats\";\nmsg.operation = \"updateOne\";\nmsg.payload = [\n  { module: \"Harvester\" },\n  { $set: { module: \"Harvester\", at: new Date().toISOString() } },\n  { upsert: true }\n];\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 1900,
        "wires": [
            [
                "bb03000000000h03"
            ]
        ]
    },
    {
        "id": "bb03000000000h03",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "name": "upsert heartbeat",
        "x": 640,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "cr03m3hdr00001",
        "type": "comment",
        "z": "bb03000000000000",
        "name": "── FR-CR-03: Prefetch cr_api_mappings before fetch loop ──",
        "info": "",
        "x": 200,
        "y": 360,
        "wires": []
    },
    {
        "id": "cr03m3000010",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Prefetch cr_api_mappings",
        "func": "// FR-CR-03: load active api mappings once per harvest run; downstream stash into msg._apiMappings\nmsg.collection = 'cr_api_mappings';\nmsg.operation  = 'find';\nmsg.payload    = [{ status: 'active' }];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 400,
        "wires": [
            [
                "cr03m3000011"
            ]
        ]
    },
    {
        "id": "cr03m3000011",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "DB: Find Api Mappings",
        "x": 800,
        "y": 400,
        "wires": [
            [
                "cr03m3000012"
            ]
        ]
    },
    {
        "id": "cr03m3000012",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Stash _apiMappings → Resolve API sources",
        "func": "msg._apiMappings = Array.isArray(msg.payload) ? msg.payload : [];\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 400,
        "wires": [
            [
                "fm04m3000010"
            ]
        ]
    },
    {
        "id": "fm04m3000001",
        "type": "comment",
        "z": "bb03000000000000",
        "name": "── FR-CR-04: Prefetch sr_mappings (JSON Field Mapping only) ──",
        "info": "",
        "x": 220,
        "y": 540,
        "wires": []
    },
    {
        "id": "fm04m3000010",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Prefetch sr_mappings",
        "func": "msg.collection = 'sr_mappings';\nmsg.operation  = 'find';\nmsg.payload    = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 580,
        "wires": [
            [
                "fm04m3000011"
            ]
        ]
    },
    {
        "id": "fm04m3000011",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "DB: Find sr_mappings",
        "x": 820,
        "y": 580,
        "wires": [
            [
                "fm04m3000012"
            ]
        ]
    },
    {
        "id": "fm04m3000012",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Stash _fieldMappings",
        "func": "msg._fieldMappings = Array.isArray(msg.payload) ? msg.payload : [];\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 580,
        "wires": [
            [
                "ai04m3000010"
            ]
        ]
    },
    {
        "id": "ai04m3000001",
        "type": "comment",
        "z": "bb03000000000000",
        "name": "── FR-CR-05: Prefetch sr_prompts + sr_providers (AI-driven only) ──",
        "info": "",
        "x": 240,
        "y": 660,
        "wires": []
    },
    {
        "id": "ai04m3000010",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Prefetch sr_prompts",
        "func": "msg.collection = 'sr_prompts';\nmsg.operation  = 'find';\nmsg.payload    = [{ status: 'active' }];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 700,
        "wires": [
            [
                "ai04m3000011"
            ]
        ]
    },
    {
        "id": "ai04m3000011",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "DB: Find sr_prompts",
        "x": 840,
        "y": 700,
        "wires": [
            [
                "ai04m3000012"
            ]
        ]
    },
    {
        "id": "ai04m3000012",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Stash _aiPrompts → fetch providers",
        "func": "msg._aiPrompts = Array.isArray(msg.payload) ? msg.payload : [];\nmsg.collection = 'sr_providers';\nmsg.operation  = 'find';\nmsg.payload    = [{ status: 'active' }, { sort: { precedence: 1 } }];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 700,
        "wires": [
            [
                "ai04m3000013"
            ]
        ]
    },
    {
        "id": "ai04m3000013",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "DB: Find sr_providers",
        "x": 1380,
        "y": 700,
        "wires": [
            [
                "ai04m3000014"
            ]
        ]
    },
    {
        "id": "ai04m3000014",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Stash _aiProviders",
        "func": "msg._aiProviders = Array.isArray(msg.payload) ? msg.payload : [];\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 700,
        "wires": [
            [
                "bb03000000000024"
            ]
        ]
    },
    {
        "id": "ai04m3000002",
        "type": "comment",
        "z": "bb03000000000000",
        "name": "── FR-CR-05: AI / Hybrid AI transform pipeline (auto, post-import) ──",
        "info": "",
        "x": 1740,
        "y": 160,
        "wires": []
    },
    {
        "id": "ai04m3000020",
        "type": "function",
        "z": "bb03000000000000",
        "name": "AI: Build LLM queue + kickoff",
        "func": "// FR-CR-05: build LLM call queue from prefetched mappings/prompts/providers and just-imported lc docs.\nconst lcDocs    = Array.isArray(msg._lcDocs) ? msg._lcDocs : [];\nconst allMaps   = Array.isArray(msg._fieldMappings) ? msg._fieldMappings : [];\nconst aiMappings = allMaps.filter(m => m && (m.transformationStrategy === 'AI-driven' || m.transformationStrategy === 'Hybrid AI Mapping'));\nconst prompts   = Array.isArray(msg._aiPrompts) ? msg._aiPrompts : [];\nconst providers = Array.isArray(msg._aiProviders) ? msg._aiProviders : [];\n\nfunction _norm(s) {\n    return s == null ? '' : String(s).trim().toLowerCase();\n}\n\nfunction findMapping(catId, catName) {\n    if (!Array.isArray(aiMappings) || aiMappings.length === 0) return null;\n    const idN = _norm(catId);\n    const nameN = _norm(catName);\n\n    // Tier 1 — strict ID match (both sides non-empty, normalised string equality)\n    if (idN) {\n        const m = aiMappings.find(x => x && _norm(x.remoteCatalogueId) === idN);\n        if (m) return m;\n    }\n    // Tier 2 — strict name match (both sides non-empty, normalised)\n    if (nameN) {\n        const m = aiMappings.find(x => x && _norm(x.remoteCatalogue) === nameN);\n        if (m) return m;\n    }\n    // Tier 3 — cross match: mapping's name field carries the asset's id, or vice versa\n    if (idN) {\n        const m = aiMappings.find(x => x && _norm(x.remoteCatalogue) === idN);\n        if (m) return m;\n    }\n    if (nameN) {\n        const m = aiMappings.find(x => x && _norm(x.remoteCatalogueId) === nameN);\n        if (m) return m;\n    }\n    return null;\n}\nfunction findPrompt(mapping) {\n    if (!mapping) return null;\n    // v40: explicit link wins\n    if (mapping.promptId) {\n        const explicit = prompts.find(p => p && p.id === mapping.promptId && p.status === 'active');\n        if (explicit) return explicit;\n    }\n    // Legacy fallback: match by sourceSchema\n    const sourceSchema = mapping.remoteSchema || mapping.remoteCatalogue;\n    return prompts.find(p => p && p.sourceSchema === sourceSchema && p.status === 'active') || null;\n}\nfunction findProvider(prompt, mapping) {\n    if (!Array.isArray(providers) || providers.length === 0) return null;\n    if (prompt && prompt.providerId) {\n        const p = providers.find(x => x && x.id === prompt.providerId);\n        if (p) return p;\n    }\n    if (mapping && mapping.providerId) {\n        const p = providers.find(x => x && x.id === mapping.providerId);\n        if (p) return p;\n    }\n    return providers[0];\n}\nfunction decryptKey(provider) {\n    if (!provider) return '';\n    const k = provider.apiKey;\n    if (!k) return '';\n    if (typeof k === 'string') return k;\n    if (typeof k === 'object' && k.ct) {\n        const kmsKey = env.get('DCM_KMS_KEY') || global.get('DCM_KMS_KEY') || '';\n        if (!kmsKey) return '';\n        try {\n            const key = Buffer.from(kmsKey, 'hex');\n            const iv  = Buffer.from(k.iv, 'hex');\n            const tag = Buffer.from(k.tag, 'hex');\n            const decipher = crypto.createDecipheriv('aes-256-gcm', key, iv);\n            decipher.setAuthTag(tag);\n            return decipher.update(k.ct, 'hex', 'utf8') + decipher.final('utf8');\n        } catch(e) { return ''; }\n    }\n    return '';\n}\nfunction buildLLMRequest(provider, prompt, asset) {\n    const apiKey = decryptKey(provider);\n    let template = (prompt && prompt.template) || '';\n    template = template.replace(/\\{SOURCE_ASSET\\}/g, JSON.stringify(asset, null, 2));\n    template = template.replace(/\\{SOURCE_SCHEMA\\}/g, (prompt && prompt.sourceSchema) || '');\n    template = template.replace(/\\{TARGET_SCHEMA\\}/g, (prompt && prompt.targetSchema) || '');\n    template = template.replace(/\\{EXAMPLES\\}/g, (prompt && prompt.examples) || '');\n    template = template.replace(/\\{CONSTRAINTS\\}/g, (prompt && prompt.constraints) || '');\n\n    const type = (provider.type || 'openai').toLowerCase();\n    const model = (provider.models && provider.models[0]) || provider.model || 'gpt-4o';\n\n    if (type === 'anthropic') {\n        return {\n            url: provider.apiEndpoint || 'https://api.anthropic.com/v1/messages',\n            headers: {\n                'Content-Type': 'application/json',\n                'x-api-key': apiKey,\n                'anthropic-version': '2023-06-01'\n            },\n            body: JSON.stringify({\n                model: model,\n                max_tokens: 4000,\n                messages: [{ role: 'user', content: template }]\n            }),\n            kind: 'anthropic'\n        };\n    }\n    return {\n        url: provider.apiEndpoint || 'https://api.openai.com/v1/chat/completions',\n        headers: {\n            'Content-Type': 'application/json',\n            'Authorization': 'Bearer ' + apiKey\n        },\n        body: JSON.stringify({\n            model: model,\n            messages: [{ role: 'user', content: template }],\n            temperature: 0\n        }),\n        kind: 'openai'\n    };\n}\n\nconst queue = [];\nconst localUpdates = [];\nconst skips = { transformed: 0, noMapping: 0, noPrompt: 0, noProvider: 0, codeFailed: 0, ok: 0 };\n\n// Index of available mappings/prompts/providers — emitted once for diagnostics\nnode.warn('[ai-harvest] Loop start: ' + lcDocs.length + ' assets, ' +\n          aiMappings.length + ' AI mappings, ' +\n          prompts.length + ' active prompts, ' +\n          providers.length + ' active providers');\n\nfor (const lc of lcDocs) {\n    if (lc.transformedForm) { skips.transformed++; continue; }\n\n    const m = findMapping(lc.sourceCatalogueId, lc.sourceCatalogue);\n    if (!m) {\n        skips.noMapping++;\n        node.warn('[ai-harvest] SKIP (no mapping) lc=' + lc.id +\n                  ' sourceCatalogueId=' + JSON.stringify(lc.sourceCatalogueId) +\n                  ' sourceCatalogue=' + JSON.stringify(lc.sourceCatalogue) +\n                  ' | available mappings: ' +\n                  aiMappings.map(x => '{id=' + JSON.stringify(x.remoteCatalogueId) +\n                                       ',name=' + JSON.stringify(x.remoteCatalogue) + '}').join(', '));\n        continue;\n    }\n\n    const p = findPrompt(m);\n    if (!p) {\n        skips.noPrompt++;\n        node.warn('[ai-harvest] SKIP (no prompt) lc=' + lc.id +\n                  ' mapping.id=' + m.id +\n                  ' mapping.promptId=' + JSON.stringify(m.promptId) +\n                  ' mapping.remoteSchema=' + JSON.stringify(m.remoteSchema) +\n                  ' | active prompts: ' + prompts.map(p => '{id=' + p.id +\n                                                          ',sourceSchema=' + JSON.stringify(p.sourceSchema) + '}').join(', '));\n        continue;\n    }\n\n    // Inline path: prompt has saved generatedCode → run it locally, no LLM round-trip\n    const code = (p.generatedCode || '').trim();\n    if (code) {\n        try {\n            const fn = new Function('input', code + '\\nreturn transform(input);');\n            const result = fn(lc.originalForm || {});\n            if (result && typeof result === 'object') {\n                if (!result['@id']) result['@id'] = 'did:web:dcm.local:' + lc.id;\n                localUpdates.push({\n                    lcId: lc.id,\n                    transformedForm: result,\n                    mappingId: m.id,\n                    promptId: p.id,\n                    providerId: '(local-code)'\n                });\n                skips.ok++;\n                continue;\n            }\n            skips.codeFailed++;\n            node.warn('[ai-harvest] generatedCode returned non-object for ' + lc.id + ' — falling back to LLM');\n        } catch (codeErr) {\n            skips.codeFailed++;\n            node.warn('[ai-harvest] generatedCode threw for ' + lc.id + ': ' + codeErr.message + ' — falling back to LLM');\n        }\n    }\n\n    // LLM path: no code or code failed → queue an LLM call\n    const prov = findProvider(p, m);\n    if (!prov) {\n        skips.noProvider++;\n        node.warn('[ai-harvest] SKIP (no provider) lc=' + lc.id +\n                  ' prompt.providerId=' + JSON.stringify(p.providerId) +\n                  ' mapping.providerId=' + JSON.stringify(m.providerId) +\n                  ' | active providers: ' + providers.map(x => x.id).join(', '));\n        continue;\n    }\n    const req = buildLLMRequest(prov, p, lc.originalForm || {});\n    queue.push({ lcId: lc.id, mappingId: m.id, promptId: p.id, providerId: prov.id, req: req });\n}\n\nnode.warn('[ai-harvest] Loop done: queued ' + queue.length + ' LLM calls, ' +\n          localUpdates.length + ' inline transforms; skips=' + JSON.stringify(skips));\n\nmsg._aiQueue = queue;\nmsg._aiQueueIdx = 0;\nmsg._aiUpdates = localUpdates;\n\nif (queue.length === 0) {\n    return [null, msg];\n}\n\nconst first = queue[0];\nmsg.url = first.req.url;\nmsg.method = 'POST';\nmsg.headers = first.req.headers;\nmsg.payload = first.req.body;\nnode.warn('[ai-harvest] Calling LLM 1/' + queue.length + ' for ' + first.lcId);\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 2000,
        "y": 200,
        "wires": [
            [
                "ai04m3000023"
            ],
            [
                "ai04m3000025"
            ]
        ]
    },
    {
        "id": "ai04m3000023",
        "type": "http request",
        "z": "bb03000000000000",
        "name": "LLM HTTP call",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2260,
        "y": 200,
        "wires": [
            [
                "ai04m3000024"
            ]
        ]
    },
    {
        "id": "ai04m3000024",
        "type": "function",
        "z": "bb03000000000000",
        "name": "AI: Handle LLM response + loop",
        "func": "const queue   = msg._aiQueue || [];\nconst idx     = msg._aiQueueIdx || 0;\nconst updates = msg._aiUpdates || [];\nconst current = queue[idx];\n\nfunction extractContent(data, kind) {\n    if (!data || typeof data !== 'object') return '';\n    if (kind === 'anthropic') {\n        if (Array.isArray(data.content) && data.content[0] && typeof data.content[0].text === 'string') return data.content[0].text;\n        return '';\n    }\n    if (Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && typeof data.choices[0].message.content === 'string') return data.choices[0].message.content;\n    if (Array.isArray(data.choices) && data.choices[0] && typeof data.choices[0].text === 'string') return data.choices[0].text;\n    return '';\n}\nfunction stripMarkdown(s) {\n    if (!s) return s;\n    let t = String(s).trim();\n    if (t.startsWith('```')) {\n        t = t.replace(/^```(?:json|javascript|js)?\\s*\\n?/i, '');\n        t = t.replace(/\\n?```\\s*$/, '');\n    }\n    return t.trim();\n}\nfunction safeParseJson(s) {\n    if (!s) return null;\n    try { return JSON.parse(s); } catch(e) {\n        const m = String(s).match(/\\{[\\s\\S]*\\}/);\n        if (m) {\n            try { return JSON.parse(m[0]); } catch(_) { return null; }\n        }\n        return null;\n    }\n}\n\nif (current) {\n    const status = msg.statusCode || 0;\n    const data = msg.payload;\n    let transformed = null;\n    if (status >= 200 && status < 300) {\n        const raw = extractContent(data, current.req.kind);\n        const cleaned = stripMarkdown(raw);\n        const parsed = safeParseJson(cleaned);\n        if (parsed && typeof parsed === 'object') {\n            transformed = parsed;\n        } else {\n            node.warn('[ai-harvest] LLM returned non-JSON for ' + current.lcId);\n        }\n    } else {\n        node.warn('[ai-harvest] LLM HTTP ' + status + ' for ' + current.lcId);\n    }\n    if (transformed) {\n        if (!transformed['@id']) transformed['@id'] = 'did:web:dcm.local:' + current.lcId;\n        updates.push({ lcId: current.lcId, transformedForm: transformed, mappingId: current.mappingId, promptId: current.promptId, providerId: current.providerId });\n    }\n}\n\nconst nextIdx = idx + 1;\nmsg._aiQueueIdx = nextIdx;\nmsg._aiUpdates = updates;\n\nif (nextIdx < queue.length) {\n    const next = queue[nextIdx];\n    msg.url = next.req.url;\n    msg.method = 'POST';\n    msg.headers = next.req.headers;\n    msg.payload = next.req.body;\n    node.warn('[ai-harvest] Calling LLM ' + (nextIdx+1) + '/' + queue.length + ' for ' + next.lcId);\n    return [msg, null];\n}\n\ndelete msg._aiQueue;\ndelete msg._aiQueueIdx;\nmsg.payload = '';\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2520,
        "y": 200,
        "wires": [
            [
                "ai04m3000023"
            ],
            [
                "ai04m3000025"
            ]
        ]
    },
    {
        "id": "ai04m3000025",
        "type": "function",
        "z": "bb03000000000000",
        "name": "AI: Bulk-update lc_assets.transformedForm",
        "func": "const updates = msg._aiUpdates || [];\nif (updates.length === 0) return [null, msg];\nconst bulk = updates.map(u => ({\n    updateOne: {\n        filter: { id: u.lcId },\n        update: { $set: {\n            transformedForm: u.transformedForm,\n            transformedAt: new Date().toISOString(),\n            transformedByMappingId: u.mappingId,\n            transformedByPromptId: u.promptId,\n            transformedByProviderId: u.providerId\n        }}\n    }\n}));\nmsg.collection = 'lc_assets';\nmsg.operation  = 'bulkWrite';\nmsg.payload    = [bulk];\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 200,
        "wires": [
            [
                "ai04m3000027"
            ],
            [
                "ai04m3000026"
            ]
        ]
    },
    {
        "id": "ai04m3000027",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "DB: bulkWrite lc_assets",
        "x": 3100,
        "y": 200,
        "wires": [
            [
                "ai04m3000026"
            ]
        ]
    },
    {
        "id": "ai04m3000026",
        "type": "function",
        "z": "bb03000000000000",
        "name": "AI: pass to audit",
        "func": "// Clean up AI loop state and continue to existing audit/response chain.\ndelete msg._aiQueue;\ndelete msg._aiQueueIdx;\ndelete msg._aiUpdates;\ndelete msg._aiPrompts;\ndelete msg._aiProviders;\ndelete msg.url;\ndelete msg.method;\ndelete msg.headers;\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3380,
        "y": 200,
        "wires": [
            [
                "bb03000000000a10"
            ]
        ]
    },
    {
        "id": "cl05m3000001",
        "type": "comment",
        "z": "bb03000000000000",
        "name": "── FR-ACM-06: Clear Harvest History (hv_runs + audit) ──",
        "x": 220,
        "y": 940,
        "wires": []
    },
    {
        "id": "cl05m3000010",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Prepare deleteMany hv_runs",
        "func": "msg.collection = 'hv_runs';\nmsg.operation  = 'deleteMany';\nmsg.payload    = {};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 980,
        "wires": [
            [
                "cl05m3000011"
            ]
        ]
    },
    {
        "id": "cl05m3000011",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "DB: deleteMany hv_runs",
        "x": 820,
        "y": 980,
        "wires": [
            [
                "cl05m3000012"
            ]
        ]
    },
    {
        "id": "cl05m3000012",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Stash hv_runs result + delete audit",
        "func": "const r = msg.payload;\nlet n = 0;\nif (r && typeof r === 'object') {\n    if (typeof r.deletedCount === 'number') n = r.deletedCount;\n    else if (Array.isArray(r) && r[0] && typeof r[0].deletedCount === 'number') n = r[0].deletedCount;\n}\nmsg._clearHvDeleted = n;\nmsg.collection = 'dcm_transformation_audit';\nmsg.operation  = 'deleteMany';\nmsg.payload    = {};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 980,
        "wires": [
            [
                "cl05m3000013"
            ]
        ]
    },
    {
        "id": "cl05m3000013",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "DB: deleteMany audit",
        "x": 1340,
        "y": 980,
        "wires": [
            [
                "cl05m3000014"
            ]
        ]
    },
    {
        "id": "cl05m3000014",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: clearHarvestHistory",
        "func": "const r = msg.payload;\nlet auditDeleted = 0;\nif (r && typeof r === 'object') {\n    if (typeof r.deletedCount === 'number') auditDeleted = r.deletedCount;\n    else if (Array.isArray(r) && r[0] && typeof r[0].deletedCount === 'number') auditDeleted = r[0].deletedCount;\n}\nmsg.response = {\n    action: 'clearHarvestHistory',\n    status: 'success',\n    runsDeleted: msg._clearHvDeleted || 0,\n    auditDeleted: auditDeleted\n};\ndelete msg._clearHvDeleted;\ndelete msg.payload;\ndelete msg.collection;\ndelete msg.operation;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 980,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    }
]
