backend/src/M3_DCM-Harvester_flow.json
[
    {
        "id": "bb03000000000000",
        "type": "tab",
        "label": "M3_DCM-Harvester",
        "disabled": false,
        "info": "Backend flows for Asset Crawler + Mapper (Harvester).\n\nMongoDB collections:\n  hv_runs         – harvest run records (config, status, results, embedded logs + provenance)\n  lc_assets       – local catalogue assets (written during harvest, owned by M5_DCM-LocalCatalogue)\n  cr_catalogues   – catalogue registry (read-only, shared)\n\nOperations:\n  - getHarvestCatalogues (reads from cr_catalogues)\n  - startHarvest (creates run, generates assets into lc_assets, stores log + provenance)\n  - listHarvestRuns (find all runs)\n  - getHarvestRunDetail (find one run)\n  - listHarvestLogs (extract logs from runs)\n  - listHarvestProvenance (extract provenance from runs)\n  - pauseHarvest / resumeHarvest / cancelHarvest (update run status)\n\nSRS Requirements covered:\n  FR-ACM-01: Initiating a Harvest\n  FR-ACM-02: Harvest Scope\n  FR-ACM-03: Lifecycle of Imported Assets\n  FR-ACM-04: Linked Assets\n  FR-ACM-05: Crawling References\n\nAll responses are sent back to the Dashboard via link-out → dashboard-linkin.",
        "env": []
    },
    {
        "id": "bb03000000000001",
        "type": "comment",
        "z": "bb03000000000000",
        "name": "══ Asset Crawler + Mapper (Harvester) Backend ══",
        "info": "Handles all Harvest operations per SRS FR-ACM-01 through FR-ACM-05.\nResponses go back to Dashboard uibuilder via link-out → dashboard-linkin.",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "bb03000000000002",
        "type": "link in",
        "z": "bb03000000000000",
        "name": "harvest-in",
        "links": [
            "ff01000000000033"
        ],
        "x": 115,
        "y": 300,
        "wires": [
            [
                "bb03000000000003"
            ]
        ]
    },
    {
        "id": "bb03000000000003",
        "type": "switch",
        "z": "bb03000000000000",
        "name": "route by msg.type",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "getHarvestCatalogues",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "startHarvest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "listHarvestRuns",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getHarvestRunDetail",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "listHarvestLogs",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "listHarvestProvenance",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pauseHarvest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resumeHarvest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cancelHarvest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "bb03000000000010"
            ],
            [
                "bb03000000000024"
            ],
            [
                "bb03000000000030"
            ],
            [
                "bb03000000000040"
            ],
            [
                "bb03000000000060"
            ],
            [
                "bb03000000000070"
            ],
            [
                "bb03000000000080"
            ],
            [
                "bb03000000000081"
            ],
            [
                "bb03000000000082"
            ]
        ]
    },
    {
        "id": "bb03000000000099",
        "type": "link out",
        "z": "bb03000000000000",
        "name": "→ Dashboard (uibuilder response)",
        "mode": "link",
        "links": [
            "c48570326bcd6b3d"
        ],
        "x": 1375,
        "y": 300,
        "wires": []
    },
    {
        "id": "bb03000000000010",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Get Harvest Catalogues (from cr_catalogues)",
        "func": "msg.operation = \"find\";\nmsg.collection = \"cr_catalogues\";\nmsg.payload = [\n    {},\n    { projection: { catalog: 1, uniqueId: 1, _id: 0 } }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 100,
        "wires": [
            [
                "bb03000000000011"
            ]
        ]
    },
    {
        "id": "bb03000000000011",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 100,
        "wires": [
            [
                "bb03000000000012"
            ]
        ]
    },
    {
        "id": "bb03000000000012",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: getHarvestCatalogues",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst catalogs = docs.map(d => {\n    const c = d.catalog || d;\n    return {\n        uniqueId: d.uniqueId || c.catalogId || d._id,\n        catalogId: c.catalogId || d.uniqueId,\n        catalogName: c.catalogName || c.catalogId || '-',\n        owner: c.owner || '-',\n        strategy: c.strategy || 'none',\n        baseEndpoint: c.baseEndpoint || '',\n        enabled: c.enabled !== false,\n        protocol: c.protocol || 'Query interface',\n        updatedAt: c.updatedAt || '',\n        auth: c.auth || 'none',\n        authLoginEndpoint: c.authLoginEndpoint || '',\n        authUsername: c.authUsername || '',\n        authPassword: c.authPassword || '',\n        authPayloadTemplate: c.authPayloadTemplate || '',\n        authTokenPath: c.authTokenPath || 'token',\n        authTokenInjection: c.authTokenInjection || 'body',\n        authTokenFieldName: c.authTokenFieldName || 'token',\n        authTokenPrefix: c.authTokenPrefix || '',\n        authStaticToken: c.authStaticToken || '',\n        authApiKey: c.authApiKey || '',\n        authApiKeyHeader: c.authApiKeyHeader || 'X-API-Key',\n        responseRootPath: c.responseRootPath || '',\n        responseAssetIdField: c.responseAssetIdField || '',\n        responseAssetNameField: c.responseAssetNameField || '',\n        responseAssetTypeField: c.responseAssetTypeField || '',\n        sourceData: c.sourceData || null,\n        sourceFileName: c.sourceFileName || '',\n        mimeType: c.mimeType || ''\n    };\n});\nmsg.response = {\n    action: \"getHarvestCatalogues\",\n    status: \"success\",\n    catalogs: catalogs\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 100,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000020",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Start Harvest — build run + lc_assets",
        "func": "const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nlet rnd = '';\nfor (let i = 0; i < 12; i++) rnd += chars[Math.floor(Math.random() * chars.length)];\nconst runId = 'run-' + Date.now().toString(36) + rnd;\n\nconst catalogues = msg.data?.catalogues || [];\nconst catNames = catalogues.map(c => c.catalogName).filter(Boolean);\nconst now = new Date();\nconst nowISO = now.toISOString();\nconst nowShort = nowISO.replace('T', ' ').slice(0, 19);\n\nfunction resolvePath(obj, path) {\n    if (!path || !obj) return obj;\n    const parts = path.split('.');\n    let cur = obj;\n    for (const p of parts) {\n        if (cur == null || typeof cur !== 'object') return undefined;\n        cur = cur[p];\n    }\n    return cur;\n}\n\nfunction extractEntries(data, rootPath) {\n    if (!data) return [];\n    if (rootPath) {\n        const resolved = resolvePath(data, rootPath);\n        if (Array.isArray(resolved)) return resolved;\n        if (resolved && typeof resolved === 'object') return [resolved];\n    }\n    if (Array.isArray(data)) return data;\n    if (data['dcat:dataset'] && Array.isArray(data['dcat:dataset'])) return data['dcat:dataset'];\n    if (data.dataset && Array.isArray(data.dataset)) return data.dataset;\n    if (data.datasets && Array.isArray(data.datasets)) return data.datasets;\n    if (data.data && Array.isArray(data.data)) return data.data;\n    if (data.results && Array.isArray(data.results)) return data.results;\n    if (data.result && data.result.results && Array.isArray(data.result.results)) return data.result.results;\n    if (data.items && Array.isArray(data.items)) return data.items;\n    if (data.records && Array.isArray(data.records)) return data.records;\n    if (data.entries && Array.isArray(data.entries)) return data.entries;\n    if (data.assets && Array.isArray(data.assets)) return data.assets;\n    if (data.catalogs && Array.isArray(data.catalogs)) return data.catalogs;\n    if (data.title || data.name || data.identifier || data['@type']) return [data];\n    if (data._id || data.requestId != null || data.companyDetails) return [data];\n    const skipKeys = ['auditInfo','approveInfo','decisionHistory','errors','warnings','logs'];\n    for (const key of Object.keys(data)) {\n        if (Array.isArray(data[key]) && data[key].length > 0 && typeof data[key][0] === 'object' && !skipKeys.includes(key)) return data[key];\n    }\n    return [data];\n}\n\nfunction extractName(entry, nameField) {\n    if (!entry || typeof entry !== 'object') return 'Unknown Asset';\n    if (nameField) { const v = resolvePath(entry, nameField); if (v && typeof v === 'string' && v.trim()) return v; }\n    const cands = ['title','name','catalogName','label','displayName','companyName','organisationName','organization','fullName','shortName','legalName','tradingName','firma'];\n    for (const f of cands) { if (entry[f] && typeof entry[f] === 'string' && entry[f].trim()) return entry[f]; }\n    const cd = entry.companyDetails;\n    if (cd && typeof cd === 'object') {\n        if (cd['A.1.1.1'] && typeof cd['A.1.1.1'] === 'string') return cd['A.1.1.1'];\n        if (cd['A.2.1.1'] && typeof cd['A.2.1.1'] === 'string') return cd['A.2.1.1'];\n        for (const f of cands) { if (cd[f] && typeof cd[f] === 'string' && cd[f].trim()) return cd[f]; }\n    }\n    if (entry.createdBy && entry.createdBy.fullName && typeof entry.createdBy.fullName === 'string') return entry.createdBy.fullName;\n    for (const key of Object.keys(entry)) {\n        const nested = entry[key];\n        if (nested && typeof nested === 'object' && !Array.isArray(nested)) {\n            for (const f of cands) { if (nested[f] && typeof nested[f] === 'string' && nested[f].trim()) return nested[f]; }\n        }\n    }\n    for (const key of Object.keys(entry)) {\n        const val = entry[key];\n        if (typeof val === 'string' && val.length > 2 && val.length < 200 && !/^[\\d\\-:.TZ]+$/.test(val) && !/^[0-9a-f]{24}$/i.test(val) && !key.startsWith('_')) return val;\n    }\n    return 'Unknown Asset';\n}\n\nfunction extractId(entry, idField) {\n    if (idField) { const v = resolvePath(entry, idField); if (v) return String(v); }\n    return String(entry.identifier || entry.id || entry._id || entry.requestId || entry.uuid || ('remote-' + Math.random().toString(36).slice(2, 10)));\n}\n\nfunction extractType(entry, typeField) {\n    if (typeField) { const v = resolvePath(entry, typeField); if (v) return String(v); }\n    const cd = entry.companyDetails;\n    return String(entry['@type'] || entry.type || entry.assetType || (cd && cd['A.1.1.0']) || (cd && cd['A.2.1.4']) || 'dcat:Dataset');\n}\n\nconst provenance = [];\nconst logs = [];\nconst assetDetails = [];\nconst lcDocs = [];\nlet assetCounter = 0;\n\nfor (const cat of catalogues) {\n    const catName = cat.catalogName || cat.uniqueId || 'Unknown';\n    const catId = cat.uniqueId || cat.catalogId || '';\n    const strategy = cat.strategy || 'none';\n    const rootPath = cat.responseRootPath || '';\n    const idField = cat.responseAssetIdField || '';\n    const nameField = cat.responseAssetNameField || '';\n    const typeField = cat.responseAssetTypeField || '';\n    const sourceData = cat.sourceData || null;\n    let entries = [];\n    if (sourceData) {\n        entries = extractEntries(sourceData, rootPath);\n        logs.push({ runId, assetId: '', level: 'info', message: 'Extracted ' + entries.length + ' entries from sourceData', catalogue: catName, timestamp: nowISO });\n    }\n\n    for (let i = 0; i < entries.length; i++) {\n        assetCounter++;\n        const entry = entries[i];\n        if (!entry || typeof entry !== 'object') continue;\n        const assetId = 'asset-' + runId + '-' + assetCounter;\n        const lcId = 'lc-' + runId + '-' + assetCounter;\n        const rawId = extractId(entry, idField);\n        const assetName = extractName(entry, nameField);\n        const assetType = extractType(entry, typeField);\n        const domain = entry.domain || entry.theme || entry.category || catName;\n\n        assetDetails.push({ assetId: assetId, title: assetName, catalogue: catName, status: 'success', strategy: strategy, sourceId: rawId });\n        lcDocs.push({\n            uniqueId: lcId,\n            id: lcId,\n            assets: assetName,\n            title: assetName,\n            type: assetType,\n            name: catName,\n            domain: domain,\n            updated: nowShort,\n            integrationStatus: 'Active',\n            sourceCatalogue: catName,\n            sourceCatalogueId: catId,\n            harvestRunId: runId,\n            remoteAssetId: rawId,\n            originalForm: entry,\n            transformedForm: null,\n            sourceAssetId: rawId,\n            harvestedAt: nowISO,\n            createdAt: nowISO\n        });\n        provenance.push({ runId: runId, assetId: assetId, title: assetName, catalogue: catName, action: 'imported', strategy: strategy, timestamp: nowISO, status: 'success', sourceId: rawId });\n        logs.push({ runId: runId, assetId: assetId, level: 'info', message: 'Imported: ' + assetName, catalogue: catName, timestamp: nowISO });\n    }\n\n    logs.push({ runId: runId, assetId: '', level: 'info', message: 'Harvest completed for ' + catName + ': ' + entries.length + ' entries processed', catalogue: catName, timestamp: nowISO });\n}\n\nconst successCount = assetDetails.filter(a => a.status === 'success').length;\nconst errorCount = assetDetails.filter(a => a.status === 'error').length;\n\nconst run = {\n    uniqueId: runId,\n    catalogueName: catNames.join(', ') || 'Harvest',\n    scope: msg.data?.scope || {},\n    lifecycle: msg.data?.lifecycle || {},\n    status: 'completed',\n    startedAt: nowShort,\n    totalAssets: assetCounter,\n    assetsAdded: successCount,\n    successCount: successCount,\n    errorCount: errorCount,\n    result: errorCount === 0 ? 'Success' : 'Partial',\n    tool: 'Harvester',\n    provenance: provenance,\n    logs: logs,\n    assetIds: lcDocs.map(a => a.id)\n};\n\nconst msg1 = { _harvestRun: run, _lcDocs: lcDocs, operation: 'insertOne', collection: 'hv_runs', payload: run, _msgid: msg._msgid, _uib: msg._uib, _socketId: msg._socketId };\nreturn msg1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 200,
        "wires": [
            [
                "bb03000000000021"
            ]
        ]
    },
    {
        "id": "bb03000000000021",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "insert run",
        "x": 940,
        "y": 200,
        "wires": [
            [
                "bb03000000000022"
            ]
        ]
    },
    {
        "id": "bb03000000000022",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Insert lc_assets",
        "func": "const lcDocs = msg._lcDocs || [];\nif (lcDocs.length === 0) {\n    // No assets to insert, skip to response\n    return msg;\n}\nmsg.operation = 'insertMany';\nmsg.collection = 'lc_assets';\nmsg.payload = [lcDocs];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 200,
        "wires": [
            [
                "bb03000000000023"
            ]
        ]
    },
    {
        "id": "bb03000000000023",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "insert lc_assets",
        "x": 1340,
        "y": 200,
        "wires": [
            [
                "bb03000000000026"
            ]
        ]
    },
    {
        "id": "bb03000000000026",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: startHarvest",
        "func": "const run = msg._harvestRun || {};\nconst lcDocs = msg._lcDocs || [];\ndelete msg._harvestRun;\ndelete msg._lcDocs;\n\nmsg.response = {\n    action: 'startHarvest',\n    status: 'success',\n    run: run,\n    allAssets: lcDocs,\n    allProvenance: run.provenance || [],\n    totalAssets: lcDocs.length,\n    totalRuns: 1\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 200,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000030",
        "type": "function",
        "z": "bb03000000000000",
        "name": "List Harvest Runs",
        "func": "msg.operation = 'find';\nmsg.collection = 'hv_runs';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 300,
        "wires": [
            [
                "bb03000000000031"
            ]
        ]
    },
    {
        "id": "bb03000000000031",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 300,
        "wires": [
            [
                "bb03000000000032"
            ]
        ]
    },
    {
        "id": "bb03000000000032",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: listHarvestRuns",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst runs = docs.map(d => {\n    const r = Object.assign({}, d);\n    delete r.provenance;\n    delete r.logs;\n    delete r.assets;\n    return r;\n});\nruns.sort((a, b) => (b.startedAt || '').localeCompare(a.startedAt || ''));\nmsg.response = {\n    action: 'listHarvestRuns',\n    status: 'success',\n    runs: runs\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 300,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000040",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Get Harvest Run Detail",
        "func": "msg.operation = 'findOne';\nmsg.collection = 'hv_runs';\nmsg.payload = { uniqueId: msg.data.runId };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 400,
        "wires": [
            [
                "bb03000000000041"
            ]
        ]
    },
    {
        "id": "bb03000000000041",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 400,
        "wires": [
            [
                "bb03000000000042"
            ]
        ]
    },
    {
        "id": "bb03000000000042",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: getHarvestRunDetail",
        "func": "const run = msg.payload || null;\nmsg.response = {\n    action: 'getHarvestRunDetail',\n    status: 'success',\n    run: run\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 400,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000060",
        "type": "function",
        "z": "bb03000000000000",
        "name": "List Harvest Logs",
        "func": "msg.operation = 'find';\nmsg.collection = 'hv_runs';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 500,
        "wires": [
            [
                "bb03000000000061"
            ]
        ]
    },
    {
        "id": "bb03000000000061",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 500,
        "wires": [
            [
                "bb03000000000062"
            ]
        ]
    },
    {
        "id": "bb03000000000062",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: listHarvestLogs — extract from runs",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst logs = [];\nfor (const d of docs) {\n    if (Array.isArray(d.logs)) {\n        for (const l of d.logs) logs.push(l);\n    }\n}\nmsg.response = {\n    action: 'listHarvestLogs',\n    status: 'success',\n    logs: logs\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 500,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000070",
        "type": "function",
        "z": "bb03000000000000",
        "name": "List Harvest Provenance",
        "func": "msg.operation = 'find';\nmsg.collection = 'hv_runs';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 600,
        "wires": [
            [
                "bb03000000000071"
            ]
        ]
    },
    {
        "id": "bb03000000000071",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 600,
        "wires": [
            [
                "bb03000000000072"
            ]
        ]
    },
    {
        "id": "bb03000000000072",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: listHarvestProvenance — extract from runs",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst provenance = [];\nfor (const d of docs) {\n    if (Array.isArray(d.provenance)) {\n        for (const p of d.provenance) provenance.push(p);\n    }\n}\nmsg.response = {\n    action: 'listHarvestProvenance',\n    status: 'success',\n    provenance: provenance\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 600,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000080",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Pause Harvest",
        "func": "msg.operation = 'updateOne';\nmsg.collection = 'hv_runs';\nmsg.payload = [\n    { uniqueId: msg.data.runId },\n    { $set: { status: 'paused' } }\n];\nmsg._action = 'pauseHarvest';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 700,
        "wires": [
            [
                "bb03000000000083"
            ]
        ]
    },
    {
        "id": "bb03000000000081",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Resume Harvest",
        "func": "msg.operation = 'updateOne';\nmsg.collection = 'hv_runs';\nmsg.payload = [\n    { uniqueId: msg.data.runId },\n    { $set: { status: 'running' } }\n];\nmsg._action = 'resumeHarvest';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 760,
        "wires": [
            [
                "bb03000000000083"
            ]
        ]
    },
    {
        "id": "bb03000000000082",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Cancel Harvest",
        "func": "msg.operation = 'updateOne';\nmsg.collection = 'hv_runs';\nmsg.payload = [\n    { uniqueId: msg.data.runId },\n    { $set: { status: 'cancelled' } }\n];\nmsg._action = 'cancelHarvest';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 820,
        "wires": [
            [
                "bb03000000000083"
            ]
        ]
    },
    {
        "id": "bb03000000000083",
        "type": "mongodb4",
        "z": "bb03000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 940,
        "y": 760,
        "wires": [
            [
                "bb03000000000084"
            ]
        ]
    },
    {
        "id": "bb03000000000084",
        "type": "function",
        "z": "bb03000000000000",
        "name": "response: pause/resume/cancel",
        "func": "msg.response = {\n    action: msg._action || 'harvestControl',\n    status: 'success'\n};\ndelete msg._action;\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 760,
        "wires": [
            [
                "bb03000000000099"
            ]
        ]
    },
    {
        "id": "bb03000000000024",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Resolve API sources",
        "func": "var catalogues = (msg.data && msg.data.catalogues) ? msg.data.catalogues : [];\nvar queue = [];\n\nfor (var i = 0; i < catalogues.length; i++) {\n    var cat = catalogues[i];\n    if (cat.sourceData) continue;\n\n    var endpoint = cat.baseEndpoint || '';\n    if (!endpoint) continue;\n\n    var authType = cat.auth || 'none';\n\n    if (authType === 'token-login' && cat.authLoginEndpoint) {\n        var body = (cat.authPayloadTemplate || '{\"email\":\"{{username}}\",\"password\":\"{{password}}\"}').replace('{{username}}', cat.authUsername || '').replace('{{password}}', cat.authPassword || '');\n        queue.push({ step: 'login', catIdx: i, url: cat.authLoginEndpoint, hdrs: { 'Content-Type': 'application/json', 'Accept': 'application/json' }, body: body, tokenPath: cat.authTokenPath || 'token', tokenPrefix: cat.authTokenPrefix || 'Bearer' });\n    }\n\n    var hdrs = { 'Accept': 'application/json', 'Content-Type': 'application/json' };\n    if (authType === 'static-token' && cat.authStaticToken) {\n        hdrs['Authorization'] = (cat.authTokenPrefix || 'Bearer') + ' ' + cat.authStaticToken;\n    } else if (authType === 'api-key' && cat.authApiKey) {\n        hdrs[cat.authApiKeyHeader || 'X-API-Key'] = cat.authApiKey;\n    }\n    queue.push({ step: 'data', catIdx: i, url: endpoint, hdrs: hdrs, body: '', catName: cat.catalogName || '' });\n}\n\nif (queue.length === 0) {\n    return [null, msg];\n}\n\nmsg._fetchQueue = queue;\nmsg._fetchIdx = 0;\nvar first = queue[0];\nmsg.url = first.url;\nmsg.method = 'POST';\nmsg.headers = first.hdrs;\nmsg.payload = first.body || '';\nnode.warn('[harvest] Fetching API: ' + first.url);\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 150,
        "wires": [
            [
                "bb03000000000025"
            ],
            [
                "bb03000000000020"
            ]
        ]
    },
    {
        "id": "bb03000000000025",
        "type": "http request",
        "z": "bb03000000000000",
        "name": "Fetch Catalogue API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "bb03000000000100",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 940,
        "y": 120,
        "wires": [
            [
                "bb03000000000028"
            ]
        ]
    },
    {
        "id": "bb03000000000028",
        "type": "function",
        "z": "bb03000000000000",
        "name": "Handle API response + loop",
        "func": "var queue = msg._fetchQueue || [];\nvar idx = msg._fetchIdx || 0;\nvar current = queue[idx];\nvar catalogues = (msg.data && msg.data.catalogues) ? msg.data.catalogues : [];\n\nfunction resolvePath(obj, path) {\n    if (!path || !obj) return obj;\n    var parts = path.split('.');\n    var cur = obj;\n    for (var pi = 0; pi < parts.length; pi++) {\n        if (cur == null || typeof cur !== 'object') return undefined;\n        cur = cur[parts[pi]];\n    }\n    return cur;\n}\n\nif (current) {\n    var status = msg.statusCode || 0;\n    var data = msg.payload;\n    if (typeof data === 'string') { try { data = JSON.parse(data); } catch(e) { data = null; } }\n\n    if (current.step === 'login') {\n        if (data && typeof data === 'object' && status >= 200 && status < 300) {\n            var token = resolvePath(data, current.tokenPath || 'token');\n            if (token) {\n                for (var j = idx + 1; j < queue.length; j++) {\n                    if (queue[j].catIdx === current.catIdx && queue[j].step === 'data') {\n                        queue[j].hdrs['Authorization'] = (current.tokenPrefix || 'Bearer') + ' ' + String(token);\n                        break;\n                    }\n                }\n            }\n        }\n        node.warn('[harvest] Login ' + (status >= 200 && status < 300 ? 'OK' : 'failed HTTP ' + status) + ' for catalogue idx ' + current.catIdx);\n    } else if (current.step === 'data') {\n        if (data && typeof data === 'object' && status >= 200 && status < 300) {\n            catalogues[current.catIdx].sourceData = data;\n            node.warn('[harvest] Fetched API data for ' + (current.catName || 'catalogue') + ' (HTTP ' + status + ')');\n        } else {\n            node.warn('[harvest] API fetch failed for ' + (current.catName || 'catalogue') + ' (HTTP ' + status + ')');\n        }\n    }\n}\n\nvar nextIdx = idx + 1;\nmsg._fetchIdx = nextIdx;\n\nif (nextIdx < queue.length) {\n    var next = queue[nextIdx];\n    msg.url = next.url;\n    msg.method = 'POST';\n    msg.headers = next.hdrs;\n    msg.payload = next.body || '';\n    node.warn('[harvest] Next fetch: ' + next.url);\n    return [msg, null];\n}\n\ndelete msg._fetchQueue;\ndelete msg._fetchIdx;\nmsg.payload = '';\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 120,
        "wires": [
            [
                "bb03000000000025"
            ],
            [
                "bb03000000000020"
            ]
        ]
    },
    {
        "id": "bb03000000000029",
        "type": "comment",
        "z": "bb03000000000000",
        "name": "API Fetch Loop: resolve remote API sources before harvest",
        "info": "When a catalogue has baseEndpoint but no sourceData,\nfetches data via HTTP POST before harvesting.\nSupports auth: none, static-token, api-key, token-login.",
        "x": 960,
        "y": 80,
        "wires": []
    },
    {
        "id": "bb03000000000100",
        "type": "tls-config",
        "name": "Allow self-signed certs",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]