backend/src/M5_DCM-LocalCatalogue_flow.json
[
    {
        "id": "dd05000000000000",
        "type": "tab",
        "label": "M5_DCM-LocalCatalogue",
        "disabled": false,
        "info": "Backend flow for Local Catalogue.\n\nMongoDB collection:\n  lc_assets – normalized local catalogue asset records\n             populated by Harvest (M3), managed here.\n\nOperations:\n  getLocalCatalogue  – list all lc_assets\n  getLocalAssetDetail – get single asset detail\n  deleteLocalAsset   – delete by uniqueId\n  updateLocalAsset   – update fields by uniqueId\n  getLocalProvenance – list provenance (extracted from hv_runs)\n  getLocalStats      – summary stats\n\nAll responses are sent back to the Dashboard via link-out → dashboard-linkin (c48570326bcd6b3d).",
        "env": []
    },

    {
        "id": "dd05000000000001",
        "type": "comment",
        "z": "dd05000000000000",
        "name": "══ Local Catalogue Backend ══",
        "info": "Handles Local Catalogue operations.\nlc_assets are written during Harvest (M3) and managed here.",
        "x": 240,
        "y": 40,
        "wires": []
    },

    {
        "id": "dd05000000000002",
        "type": "link in",
        "z": "dd05000000000000",
        "name": "local-catalogue-in",
        "links": [
            "ff01000000000036"
        ],
        "x": 115,
        "y": 200,
        "wires": [["dd05000000000003"]]
    },

    {
        "id": "dd05000000000003",
        "type": "switch",
        "z": "dd05000000000000",
        "name": "route by msg.type",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "getLocalCatalogue", "vt": "str" },
            { "t": "eq", "v": "getLocalAssetDetail", "vt": "str" },
            { "t": "eq", "v": "deleteLocalAsset", "vt": "str" },
            { "t": "eq", "v": "updateLocalAsset", "vt": "str" },
            { "t": "eq", "v": "getLocalProvenance", "vt": "str" },
            { "t": "eq", "v": "getLocalStats", "vt": "str" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 330,
        "y": 200,
        "wires": [
            ["dd05000000000010"],
            ["dd05000000000020"],
            ["dd05000000000030"],
            ["dd05000000000040"],
            ["dd05000000000050"],
            ["dd05000000000060"]
        ]
    },

    {
        "id": "dd05000000000010",
        "type": "function",
        "z": "dd05000000000000",
        "name": "Get Local Catalogue — query lc_assets",
        "func": "msg.operation = 'find';\nmsg.collection = 'lc_assets';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 100,
        "wires": [["dd05000000000011"]]
    },
    {
        "id": "dd05000000000011",
        "type": "mongodb4",
        "z": "dd05000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "find lc_assets",
        "x": 960,
        "y": 100,
        "wires": [["dd05000000000012"]]
    },
    {
        "id": "dd05000000000012",
        "type": "function",
        "z": "dd05000000000000",
        "name": "response — getLocalCatalogue",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\n\n// Build table-ready asset list\nconst assets = docs.map(d => ({\n    id: d.uniqueId,\n    assets: d.title || '-',\n    type: d.type || 'Dataset',\n    name: d.catalogue || '-',\n    domain: d.domain || d.catalogue || '-',\n    updated: (d.harvestedAt || d.createdAt || '-').replace('T', ' ').slice(0, 19),\n    integrationStatus: d.status || 'Active',\n    harvestRunId: d.harvestRunId || '',\n    sourceAssetId: d.sourceAssetId || '',\n    strategy: d.strategy || '',\n    catalogueId: d.catalogueId || '',\n    harvestScope: d.harvestScope || {},\n    uniqueId: d.uniqueId\n}));\n\nassets.sort((a, b) => (b.updated || '').localeCompare(a.updated || ''));\n\n// Compute stats\nconst runIds = new Set();\nfor (const d of docs) { if (d.harvestRunId) runIds.add(d.harvestRunId); }\n\nmsg.response = {\n    action: 'getLocalCatalogue',\n    status: 'success',\n    assets: assets,\n    totalAssets: assets.length,\n    totalRuns: runIds.size\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 100,
        "wires": [["dd05000000000099"]]
    },

    {
        "id": "dd05000000000020",
        "type": "function",
        "z": "dd05000000000000",
        "name": "Get Local Asset Detail — by uniqueId",
        "func": "const uid = msg.data?.uniqueId || msg.data?.assetId || '';\nmsg._assetId = uid;\nmsg.operation = 'find';\nmsg.collection = 'lc_assets';\nmsg.payload = [{ uniqueId: uid }];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 180,
        "wires": [["dd05000000000021"]]
    },
    {
        "id": "dd05000000000021",
        "type": "mongodb4",
        "z": "dd05000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "find asset",
        "x": 960,
        "y": 180,
        "wires": [["dd05000000000022"]]
    },
    {
        "id": "dd05000000000022",
        "type": "function",
        "z": "dd05000000000000",
        "name": "response — getLocalAssetDetail",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst asset = docs[0] || null;\nmsg.response = {\n    action: 'getLocalAssetDetail',\n    status: 'success',\n    asset: asset\n};\ndelete msg.payload;\ndelete msg._assetId;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 180,
        "wires": [["dd05000000000099"]]
    },

    {
        "id": "dd05000000000030",
        "type": "function",
        "z": "dd05000000000000",
        "name": "Delete Local Asset — by uniqueId",
        "func": "const uid = msg.data?.uniqueId;\nif (!uid) {\n    msg.response = {\n        action: 'deleteLocalAsset',\n        status: 'error',\n        message: 'Missing uniqueId'\n    };\n    delete msg.payload;\n    return [null, msg];\n}\nmsg.operation = 'deleteOne';\nmsg.collection = 'lc_assets';\nmsg.payload = { uniqueId: uid };\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [["dd05000000000031"], ["dd05000000000099"]]
    },
    {
        "id": "dd05000000000031",
        "type": "mongodb4",
        "z": "dd05000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "delete from lc_assets",
        "x": 980,
        "y": 240,
        "wires": [["dd05000000000032"]]
    },
    {
        "id": "dd05000000000032",
        "type": "function",
        "z": "dd05000000000000",
        "name": "response — deleteLocalAsset",
        "func": "msg.response = {\n    action: 'deleteLocalAsset',\n    status: 'success'\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 240,
        "wires": [["dd05000000000099"]]
    },

    {
        "id": "dd05000000000040",
        "type": "function",
        "z": "dd05000000000000",
        "name": "Update Local Asset — by uniqueId",
        "func": "const uid = msg.data?.uniqueId;\nconst patch = msg.data?.patch || {};\nif (!uid) {\n    msg.response = {\n        action: 'updateLocalAsset',\n        status: 'error',\n        message: 'Missing uniqueId'\n    };\n    delete msg.payload;\n    return [null, msg];\n}\npatch.updatedAt = new Date().toISOString();\nmsg.operation = 'updateOne';\nmsg.collection = 'lc_assets';\nmsg.payload = [\n    { uniqueId: uid },\n    { $set: patch }\n];\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 340,
        "wires": [["dd05000000000041"], ["dd05000000000099"]]
    },
    {
        "id": "dd05000000000041",
        "type": "mongodb4",
        "z": "dd05000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "update lc_assets",
        "x": 980,
        "y": 320,
        "wires": [["dd05000000000042"]]
    },
    {
        "id": "dd05000000000042",
        "type": "function",
        "z": "dd05000000000000",
        "name": "response — updateLocalAsset",
        "func": "msg.response = {\n    action: 'updateLocalAsset',\n    status: 'success'\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 320,
        "wires": [["dd05000000000099"]]
    },

    {
        "id": "dd05000000000050",
        "type": "function",
        "z": "dd05000000000000",
        "name": "Get Local Provenance — from hv_runs",
        "func": "msg.operation = 'find';\nmsg.collection = 'hv_runs';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 420,
        "wires": [["dd05000000000051"]]
    },
    {
        "id": "dd05000000000051",
        "type": "mongodb4",
        "z": "dd05000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "find hv_runs",
        "x": 960,
        "y": 420,
        "wires": [["dd05000000000052"]]
    },
    {
        "id": "dd05000000000052",
        "type": "function",
        "z": "dd05000000000000",
        "name": "response — getLocalProvenance",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst provenance = [];\nfor (const d of docs) {\n    if (Array.isArray(d.provenance)) {\n        for (const p of d.provenance) provenance.push(p);\n    }\n}\nmsg.response = {\n    action: 'getLocalProvenance',\n    status: 'success',\n    provenance: provenance,\n    total: provenance.length\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 420,
        "wires": [["dd05000000000099"]]
    },

    {
        "id": "dd05000000000060",
        "type": "function",
        "z": "dd05000000000000",
        "name": "Get Local Stats — from lc_assets",
        "func": "msg.operation = 'find';\nmsg.collection = 'lc_assets';\nmsg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 500,
        "wires": [["dd05000000000061"]]
    },
    {
        "id": "dd05000000000061",
        "type": "mongodb4",
        "z": "dd05000000000000",
        "clientNode": "b991ffcd8f6c360a",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "find lc_assets",
        "x": 960,
        "y": 500,
        "wires": [["dd05000000000062"]]
    },
    {
        "id": "dd05000000000062",
        "type": "function",
        "z": "dd05000000000000",
        "name": "response — getLocalStats",
        "func": "const docs = Array.isArray(msg.payload) ? msg.payload : [];\n\nconst runIds = new Set();\nconst catalogueIds = new Set();\nconst statusCounts = { Active: 0, Warning: 0, Error: 0, Archived: 0 };\n\nfor (const d of docs) {\n    if (d.harvestRunId) runIds.add(d.harvestRunId);\n    if (d.catalogueId || d.catalogue) catalogueIds.add(d.catalogueId || d.catalogue);\n    const s = d.status || 'Active';\n    if (statusCounts[s] !== undefined) statusCounts[s]++;\n    else statusCounts.Active++;\n}\n\nmsg.response = {\n    action: 'getLocalStats',\n    status: 'success',\n    totalAssets: docs.length,\n    totalRuns: runIds.size,\n    linkedCatalogues: catalogueIds.size,\n    totalProvenance: docs.length,\n    statusCounts: statusCounts,\n    warningCount: statusCounts.Warning,\n    errorCount: statusCounts.Error\n};\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 500,
        "wires": [["dd05000000000099"]]
    },

    {
        "id": "dd05000000000099",
        "type": "link out",
        "z": "dd05000000000000",
        "name": "→ Dashboard uibuilder",
        "mode": "link",
        "links": [
            "c48570326bcd6b3d"
        ],
        "x": 1475,
        "y": 300,
        "wires": []
    }
]
